<form #heroForm="ngForm">
<mat-dialog-content>
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-label>Saldo actual: {{ data.saldo|number:'1.2-2'}}</mat-label>
    <mat-form-field>
        <mat-label>Ingresar</mat-label>
        <input required class="form-control" type="number" matInput [(ngModel)]="data.pago" name="pago" id="pago">
      </mat-form-field>
      <mat-label>Saldo restante: {{ data.saldo-data.pago|number:'1.2-2'}}</mat-label>
      <mat-error *ngIf="data.saldo-data.pago < -0.01">El pago excede el monto del documento</mat-error>
  </mat-dialog-content>
  <mat-form-field>
    <mat-label>Referencia</mat-label>
    <textarea class="form-control"
    #txt="ngModel"
    required
      matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
      rows="2"
      [(ngModel)]="data.referencia"
      matInput placeholder="Referencia"
      name="referencia"
      #name="ngModel"></textarea>
  </mat-form-field>
  <div [hidden]="name.valid || name.pristine"
  class="alert alert-danger">
  La referencia debe ser obligatorio
</div>
  <mat-dialog-actions>
    <button mat-button (click)="close()">Cancelar</button>
    <button *ngIf="heroForm.valid" [disabled] = "(data.saldo-data.pago) < 0.0 || data.pago <= 0" mat-raised-button (click)="accept();" color="primary">Aplicar</button>
  </mat-dialog-actions>
</form>
  