<div class="h-full p-6 flex justify-center items-center flex-col" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div>
    <div>
  
      <mat-grid-list cols="5" rowHeight="60px">

        <mat-grid-tile colspan="1" rowspan="1">
            <textarea matInput>{{movimiento?.Comentarios}}</textarea>            
       </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1" checked="checked" >{{movimiento?.TipoMovimiento}}</mat-radio-button>
              </mat-radio-group>       
       </mat-grid-tile>
  
        <mat-grid-tile colspan="1" rowspan="1">
            
            <div *ngIf="movimiento?.TipoMovimiento=='Traspaso'">
                <mat-label>Almacen Origen</mat-label>
                <mat-select [value]="movimiento?.AlmacenOrigenId">
                  <mat-option  [value]="movimiento.AlmacenOrigenId" selected> {{movimiento?.AlmacenOrigen}}  </mat-option>
                </mat-select>
            </div>

            <div *ngIf="movimiento?.TipoMovimiento=='Ajuste'">
                <mat-label>Tipo de operacion</mat-label>
                <mat-select>
                  <mat-option  [value]="movimiento.TipoOperacion" selected> {{movimiento?.TipoOperacion}}  </mat-option>
                </mat-select>
            </div>

        </mat-grid-tile>
  
        <mat-grid-tile class="flex justify-between" colspan="1" rowspan="1">

            <div *ngIf="movimiento?.TipoMovimiento=='Ajuste'">
                <mat-label>Almacen</mat-label>
                <mat-select [value]="movimiento?.AlmacenOrigenId">
                  <mat-option  [value]="movimiento.AlmacenOrigenId" selected> {{movimiento?.AlmacenOrigen}}  </mat-option>
                </mat-select>
            </div>

            <div *ngIf="movimiento?.TipoMovimiento=='Traspaso'">
                <mat-label>Almacen Origen</mat-label>
                <mat-select [value]="movimiento?.AlmacenDestinoId">
                  <mat-option  [value]="movimiento.AlmacenDestinoId" selected> {{movimiento?.AlmacenDestino}}  </mat-option>
                </mat-select>
            </div>

        </mat-grid-tile>
  
        <mat-grid-tile colspan="1" rowspan="1">
            {{movimiento?.CreatedAt|date: 'dd/MM/yyyy'}}   
        </mat-grid-tile>
  
      </mat-grid-list>
    </div>

<div class="h-full p-6" *ngIf="!loading">

    <div class="body mt-4">

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                </ng-container>

                <ng-container matColumnDef="ClaveProducto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave producto </th>
                    <td mat-cell *matCellDef="let row"> {{row.ClaveProducto}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>


                <ng-container matColumnDef="NombreProducto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre producto </th>
                    <td mat-cell *matCellDef="let row"> {{row.NombreProducto}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="NombreColor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                    <td mat-cell *matCellDef="let row"> {{row.NombreColor}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="NombreTalla">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla </th>
                    <td mat-cell *matCellDef="let row"> {{row.NombreTalla}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="Cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-form-field>
                            <input class="text-right" type="number" min="1" autocomplete="false" matInput
                                [value]="row.Cantidad" [disabled]="true">
                        </mat-form-field>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalCantidad() | number:'1.2-2'}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">{{errorMessage || 'No hay articulos agregados'}}</td>
                </tr>                
            </table>

            <!-- <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
</div>