<div mat-dialog-content>
  <div mat-dialog-title>{{title}}</div>
  <div *ngIf="!saving">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" minlength="0" [(ngModel)]="v.nombre" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Clave</mat-label>
      <input matInput placeholder="Clave" minlength="0" [(ngModel)]="v.clave">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Signo</mat-label>
      <input matInput placeholder="Signo" minlength="0" [(ngModel)]="v.signo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo Cambio</mat-label>
      <input matInput
             placeholder="Tipo Cambio"
             [(ngModel)]="v.tipoCambio">
    </mat-form-field>
  </div>
  <div class="flex justify-center align-center p-4" *ngIf="saving">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!v.nombre?.trim()?.length||!v.tipoCambio|| saving"
          (click)="save()">
    Guardar
  </button>
</div>
