<h2>Descarga de catálogos</h2>

<mat-accordion>
    <mat-expansion-panel *ngFor="let value of marcas">
      <mat-expansion-panel-header>
        <mat-panel-title>
            ( {{value.IDMarca}} ) {{value.NombreMarca}}
        </mat-panel-title>
        <mat-panel-description>
            {{value.Archivos === null ? '0 Catálogos' : value.Archivos.length + ' Catálogos'}}
        </mat-panel-description>

      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let file of value.Archivos">
          <mat-icon matListIcon>picture_as_pdf</mat-icon>
        <p matLine>
          <a 
          href="javascript:void(0)" 
          style="cursor:pointer"
          (click)="downloadPdf(value.IDMarca, file.NombrePdf)">
          {{file.NombrePdf}}
        </a>
          <span> ({{ (file.TamanioPdf/1024)/1024| number:'1.2-2'}} MB)</span>
        </p>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
  