<mat-dialog-content>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <mat-form-field>
    <mat-label>Comentarios</mat-label>
    <textarea
      rows="5"
      [(ngModel)]="observaciones"
      matInput placeholder="Comentarios"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button (click)="accept()" color="primary">Aceptar</button>
</mat-dialog-actions>

