<div class="flex flex-col justify-center items-center h-full" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="h-full p-6 flex flex-wrap" *ngIf="!loading">

  <!-- INICIO ALMACENES -->

  <div class="w-full md:w-6/12 xl:w-4/12 p-2">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>
          <span>Almacenes</span>
        </mat-card-title>

        <button mat-icon-button *ngIf="auth.isAdmin()" (click)="createAlmacen()">
          <mat-icon>add</mat-icon>
        </button>

      </mat-card-header>
      <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
        <mat-list class="pt-4">
          <mat-list-item *ngFor="let c of almacenes">
            <div class="flex w-full justify-between items-center">
              <span>{{c.nombreAlmacen}}</span>
              <div>
                <button mat-icon-button *ngIf="auth.isAdmin()" (click)="editAlmacen(c)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" *ngIf="auth.isAdmin()" (click)="deleteAlmacen(c)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- FIN ALMACENES -->

  <!-- INICIO MARCAS -->

  <div class="w-full md:w-6/12 xl:w-4/12 p-2">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>
          <span>Marcas</span>
        </mat-card-title>

        <button mat-icon-button *ngIf="auth.isAdmin()" (click)="createMarca()">
          <mat-icon>add</mat-icon>
        </button>

      </mat-card-header>
      <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
        <mat-list class="pt-4">
          <mat-list-item *ngFor="let c of marcas">
            <div class="flex w-full justify-between items-center">
              <span>{{c?.NombreMarca}} ({{c?.IDMarca}})</span>
              <div>
                <button mat-icon-button *ngIf="auth.isAdmin()" (click)="editMarca(c)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- FIN MARCAS -->

  <!-- INICIO DE ELEMENTOS DINÁMICOS -->

  <div class="w-full md:w-6/12 xl:w-4/12 p-2" *ngFor="let item of editableCatalogs">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>
          <span>{{item.name| titlecase}}</span>
        </mat-card-title>
        <button mat-icon-button (click)="createValue(item)" *ngIf="auth.isAdmin()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
        <mat-list class="pt-4">
          <mat-list-item *ngFor="let c of item.values">
            <div class="flex w-full justify-between items-center">
              <span>{{c.text}}</span>
              <div>
                <button mat-icon-button *ngIf="auth.isAdmin()" (click)="editValue(c,item)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" *ngIf="auth.isAdmin()" (click)="deleteValue(c,item)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- FIN DE ELEMENTOS DINÁMICOS -->

    <!-- INICIO IMPUESTOS -->

    <div class="w-full md:w-6/12 xl:w-4/12 p-2">
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title>
            <span>Impuestos</span>
          </mat-card-title>
          <button mat-icon-button *ngIf="auth.isAdmin()" (click)="createImpuesto()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
          <mat-list class="pt-4">
            <mat-list-item *ngFor="let c of impuestos">
              <div class="flex w-full justify-between items-center">
                <span>{{c?.nombre}} ({{c?.abreviatura}})</span>
                <div>
                  <button mat-icon-button *ngIf="auth.isAdmin()" (click)="editImpuesto(c)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" *ngIf="auth.isAdmin()" (click)="deleteImpuesto(c)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <mat-divider inset></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  
    <!-- FIN IMPUESTOS -->

  <!-- INICIO MONEDAS -->

  <div class="w-full md:w-6/12 xl:w-4/12 p-2">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>
          <span>Monedas</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content [style.overflow]="'auto'" [style.height.px]="'300'">
        <mat-list class="pt-4">
          <mat-list-item *ngFor="let c of monedas">
            <div class="flex w-full justify-between items-center">
              <span>{{c.nombre}} ({{c.clave}})</span>
              <div>
                <button mat-icon-button *ngIf="auth.isAdmin()" (click)="editMoneda(c)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- FIN MONEDAS -->    
</div>