.custom-card {
  .mat-card-header {
    margin: -8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

}

.mat-card.scrollable-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .mat-card-title-group {
    display: block;
  }

  > .mat-card-content {
    overflow-y: auto;
  }
}