<div class="example-container">
    
    <mat-form-field appearance="fill">
      <mat-label>Ingrese un rango de fecha</mat-label>
      <mat-date-range-input [rangePicker]="dateRangePicker">
        <input matStartDate placeholder="Start date" [value]="fechaAnterior" #dateRangeStart>
        <input matEndDate placeholder="End date" [value]="fechaActual" #dateRangeEnd
          (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Seleccione almacén</mat-label>
        <mat-select [(ngModel)]="almacenSelected" (selectionChange)="cambiaAlmacen($event)">
          <mat-option>Todos</mat-option>
          <mat-option *ngFor="let a of almacenes" [value]="a">{{a.nombreAlmacen}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field>
      <mat-label>Seccione marca </mat-label>
      <input type="text" [formControl]="marcaInput" placeholder="todos" matInput [matAutocomplete]="marcas">
      <mat-autocomplete #marcas="matAutocomplete" [displayWith]="displayMarcaFn"
        (optionSelected)="selectMarca($event)">
        <mat-option *ngFor="let option of filteredMarcas | async" [value]="option">
          {{option.NombreMarca}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="generarReporte()">Generar reporte</button>

    <button mat-raised-button color="primary" (click)="ExportTOExcel()">Exportar a Excel</button>

  </div>

  <div class="mat-elevation-z8" #TABLE>
    <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table #tableDevs [dataSource]="this.dataSource?.DataMeta.items" matSort>
      <!-- cliente -->
      <ng-container matColumnDef="NombreAlmacen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacen</th>
        <td mat-cell *matCellDef="let row"> {{row.NombreAlmacen}} </td>
        <td mat-footer-cell *matFooterCellDef> Totales </td>
      </ng-container>
      <!-- claveArticulo -->
      <ng-container matColumnDef="Clave">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave Producto</th>
        <td mat-cell *matCellDef="let row"> {{row.Clave}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- nombreArticulo -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Articulo</th>
        <td mat-cell *matCellDef="let row"> {{row.Nombre}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- nombreColor -->
      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
        <td mat-cell *matCellDef="let row"> {{row.Color}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- nombreTalla -->
      <ng-container matColumnDef="NombreTalla">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla</th>
        <td mat-cell *matCellDef="let row"> {{row.NombreTalla}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>  
      <!-- Nombre unidad -->
      <ng-container matColumnDef="NombreUnidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
        <td mat-cell *matCellDef="let row"> {{row.NombreUnidad}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>   
      <!-- marca -->
      <ng-container matColumnDef="NombreMarca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca</th>
        <td mat-cell *matCellDef="let row"> {{row.NombreMarca}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>                
      <!-- importe -->
      <ng-container matColumnDef="TotalCantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
        <td mat-cell *matCellDef="let row" class="text-right">
          <span class="p-4">{{row.TotalCantidad| number:'1.2-2'}} </span>
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right"> {{getTotalSolicitado() | number:'1.2-2'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron productos solicitados: {{errorMessage}}</td>
      </tr>

    </table>
    <mat-paginator
    [length] = "dataSource?.DataMeta.totalItems"
    [pageSize] = 25
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPaginate($event)"
    showFirstLastButtons>
  </mat-paginator>

   <!-- <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->

  </div>