<div>
    <div>
        <div class="h-full p-6 flex justify-center items-center flex-col" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        
        <mat-grid-list cols="5" rowHeight="60px">

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field appearance="fill">
                    <mat-select required [(ngModel)]="id_almacen" [ngModelOptions]="{standalone: true}">
                        <mat-option>-- Seleccione almacén --</mat-option>
                        <mat-option *ngFor="let alm of almacenes" [value]="alm.id">{{alm.nombreAlmacen}}</mat-option>
                    </mat-select>
                    <mat-label>
                        <b> Almacen</b>
                    </mat-label>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field class="flex-1 sm:max-w-lg">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Buscar producto</mat-label>
                    <input matInput (keydown.enter)="applyFilter()" placeholder="Buscar" [(ngModel)]="inputBusqueda"
                        cdkFocusInitial>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <button mat-icon-button color="basic" aria-label="Buscar artículo" (click)="applyFilter()">
                    <mat-icon>search</mat-icon>
                    Buscar
                </button>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <button mat-icon-button color="warn" aria-label="Limipiar consulta" (click)="resetQuery()">
                    <mat-icon>autorenew</mat-icon>
                    Restaturar
                </button>
            </mat-grid-tile>

        </mat-grid-list>
    </div>


    <div class="mat-elevation-z8">
        <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

        <table mat-table [dataSource]="dataSource?.DataMeta.items" matSort (matSortChange)="sortData($event)">

            <!-- ID Column -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
            </ng-container>


            <ng-container matColumnDef="NombreAlmacen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del almacén </th>
                <td mat-cell *matCellDef="let row"> {{ row.NombreAlmacen }} </td>
            </ng-container>

            <ng-container matColumnDef="CreatedAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación </th>
                <td mat-cell *matCellDef="let row"> {{row.CreatedAt|date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Clave">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave del producto</th>
                <td mat-cell *matCellDef="let row"> {{row.Clave}} </td>
            </ng-container>

            <ng-container matColumnDef="Producto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del producto </th>
                <td mat-cell *matCellDef="let row"> {{row.Producto}} </td>
            </ng-container>

            <ng-container matColumnDef="NombreColor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                <td mat-cell *matCellDef="let row"> {{row.NombreColor}} </td>
            </ng-container>

            <ng-container matColumnDef="NombreTalla">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla </th>
                <td mat-cell *matCellDef="let row"> {{row.NombreTalla}} </td>
            </ng-container>

            <ng-container matColumnDef="Existencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Existencia </th>
                <td mat-cell *matCellDef="let row"> {{row.Existencia}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontró información del inventario: {{errorMessage}}</td>
            </tr>
        </table>

        <mat-paginator [length]="dataSource?.DataMeta.totalItems" [pageSize]=25
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPaginate($event)" showFirstLastButtons>
        </mat-paginator>

    </div>
</div>