<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="formWraper">

      <mat-grid-list cols="6" rowHeight="2:0.5">

        <!-- Separador 1 -->
        <!--
        <mat-grid-tile colspan="6" rowspan="1" style="background-color: black;">
        </mat-grid-tile>
        -->

        <!-- Título -->
        <mat-grid-tile colspan="6" rowspan="1">
          <div class="titulo">
            <h1 class="text2"><b>SISTEMA DE GESTION DE PEDIDOS Y VENTAS POR CATÁLOGOS</b></h1>
          </div>
        </mat-grid-tile>
        <!-- Separador 2 -->

        <mat-grid-tile colspan="6" rowspan="0.5">
        </mat-grid-tile>


        <!-- Credenciales -->
        <mat-grid-tile colspan="2" rowspan="8">
          <div class="formDiv">
            <mat-card>
              <mat-card-content>
                <h1 class="text-center textLogin">Ingrese su información</h1>
                <mat-form-field>
                  <mat-label>Usuario</mat-label>
                  <mat-icon matPrefix>face</mat-icon>
                  <input matInput placeholder="usuario" [(ngModel)]="usuario">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <mat-icon matPrefix>lock</mat-icon>
                  <input matInput placeholder="password" [(ngModel)]="password" (keyup.enter)="login()" type="password">
                </mat-form-field>

                <mat-spinner *ngIf="loading" [diameter]="30" class="m-auto"> </mat-spinner>
                <button class="btn" [disabled]="!usuario.length||!password.length||loading" (click)="login()"
                  mat-raised-button color="primary">
                  Iniciar sesión
                </button>
              </mat-card-content>
            </mat-card>
            <div class="pie">
              <p> Desarrollado por: RcJuarez
                <a href="https://www.linkedin.com/in/ramoncruzjuarez">
                  <i class='fa fa-linkedin-square' style='color: blue'></i>
                </a>
                <a href="https://www.instagram.com/rcjuarez_lic/">
                  <i class='fa fa-instagram' style='color: red'></i>
                </a>
                <a href="https://www.facebook.com/rcjuarez21">
                  <i class='fa fa-facebook-square' style='color: blue'></i>
                </a>
                <a href="https://wa.me/529515041291/?text=Buen dia!">
                  <i class='fa fa-whatsapp' style='color:#017e31'></i>
                </a>
              </p>
              <span>Versión 3.0.8 15/01/2023</span>
            </div>
          </div>
        </mat-grid-tile>

        <!-- Imagen -->
        <mat-grid-tile colspan="3" rowspan="8">
          <!-- <div class="welcomeDiv"></div> -->
          <mat-card class="card-image">
            <img mat-card-image src="assets/logoPrincipalMedium.jpg">
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="8">
          <div class="card-otros-logos">
            <mat-card>
              <mat-card-title-group>
                <img mat-card-md-image src="assets/kclass.jpeg">
              </mat-card-title-group>
            </mat-card>

            <mat-card>
              <mat-card-title-group>
                <img mat-card-md-image src="assets/andrea.jpeg">
              </mat-card-title-group>
            </mat-card>

            <mat-card>
              <mat-card-title-group>
                <img mat-card-md-image src="assets/shein.jpeg">
              </mat-card-title-group>
            </mat-card>

          </div>
        </mat-grid-tile>

        <!-- Logos -->
        <mat-grid-tile colspan="6" rowspan="2">
          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/beterware.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/concord.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/devendi.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/impuls.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/price shoes.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/rinna.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/shoes collection.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/terra.jpeg">
            </mat-card-title-group>
          </mat-card>

          <mat-card class="card-logos">
            <mat-card-title-group>
              <img mat-card-sm-image src="assets/vianey.jpeg">
            </mat-card-title-group>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>

    </div>

  </div>
</body>