<div class="w-full items-center h-full flex flex-col login">
  <div class="mb-8 text-center">
    <img src="assets/SoloTexto.jpg" alt="">
    <!-- <p class="text-white">Ventas por catálogo</p> --> 
  </div>
  <mat-card class="w-full md:w-2/3 lg:w-1/3 bg-white">
    <mat-card-content>
      <h1 class="text-center">Login</h1>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-icon matPrefix>face</mat-icon>
        <input matInput placeholder="usuario" [(ngModel)]="usuario">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="password"
               [(ngModel)]="password"
               (keyup.enter)="login()"
               type="password">
      </mat-form-field>


      <mat-spinner *ngIf="loading" [diameter]="30" class="m-auto"> </mat-spinner>
      <button class="w-full"
              [disabled]="!usuario.length||!password.length||loading"
              (click)="login()"
              mat-raised-button color="primary">
        Iniciar sesión
      </button>
    </mat-card-content>

  </mat-card>

</div>
