/*
.login {
  background: linear-gradient(0deg, rgba(111, 39, 111, 88%), rgba(100, 0, 100, 4%)),
  //url(https://images.pexels.com/photos/6863530/pexels-photo-6863530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center / cover;
  url(../../assets/logoPrinChangedPosition0.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=2260) center / cover;
  //url(../../assets/logoPrinChangedPosition0.jpg); 
}
*/

body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
  //background-image: url(../../assets/logoPrinChangedPosition0.jpg);
  background: linear-gradient(0deg, rgba(111, 39, 111, 88%), rgba(100, 0, 100, 4%));
  background-size: cover;
  background-attachment: fixed;
}

.container{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.titulo{
  margin-top: 1%;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  color: purple;  
}

.text2{
  font-size: xx-large;
  font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

.formWraper{
  //display: grid;
  //display: inline-block;
  display:block;
  width: 80%;
  height: 97%;
  //background-color: purple;
  margin-top: 3%;
  //border-radius: 10px;
  box-shadow: 5px 10px 30px black;
}

.mat-grid-list {
  height: 80%;
}
/* code for left sectin of form */
.formDiv{
  width: 100%;
  padding: 8%;
  background-color: lavender;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
}
.formDiv h2 {
  color: green;
  margin-top: -5px;
}

/* code for right sectin of the registration form */
.welcomeDiv{
  width: 100%;
  height: 100%;
  padding: 5px;
  background-image: url(../../assets/logoPrincipal.jpeg);
  background-size: cover;
  text-align: center;
  color: white;
}  
.welcomeDiv h2 {
  margin-top: 150px;
}

.card-image{
  width: 100%;
  height: 100%;
  //background-size: cover;
  display: flex;
}

/* ---- code for Font Awsome social icons */
.socialBtn{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.icon{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color:lavender;
  margin: 5px;
  line-height: 30px;
  box-shadow: 0px 0px 10px black;
   
}

.card-logos {
  //max-width: 500px;
  //margin-bottom: 8px;

   /*  not needed styles to reflect it */ 
   //background: blue;
   //padding: 10px;
   //color: white;
   //width: 500px;
 
   /* needed styles below */
   display: flex;
   //justify-content: space-between
   //margin-bottom: 5px;
   margin: 3px;
}

.card-logo-principal {
  max-width: 400px;
  margin-bottom: 8px;
}

.card-otros-logos{
  max-width: 400px;
  display: block;
  //margin: 25px;
  margin-bottom: 8px;
}

.text{
  font-size: small;
}
.orDiv {
  width: 10%;
  margin: 0 auto;
  background-color: lavender;
  position: relative;
  top: -16px;
  justify-content: center;
}

/* code for form input fields */
.formGroup{
  width: 100%;
  position: relative;
}
.formGroup input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-style: none;
  padding-left: 30px !important;
}


/* Code for Icones inside html form input */
.formGroup i {
  position: absolute;
  left: 0px;
  top: 0px;
  color: grey;
  font-size: smaller;
  margin: 10px !important;
}


input::placeholder {
  position: relative;
  left: 10px;
}
input:focus{
  border-color: red;
}
.checkBox{
  width: 100%;
  margin-top: 2px;
}

.btn{
  width: 70%;
  padding: 15px;
  background-color: green;
  margin-top: 15px;
  color: lavender;
  border-radius: 20px;
  border-style: none;
}
.btn2{
  width: 70%;
  padding: 15px;
  background-color:transparent;
  margin-top: 15px;
  color: lavender;
  border-radius: 20px;
  border-style: none;
  border: 2px solid rgb(247, 243, 243);
}

/* CSS mouse hover efects */
.btn:hover, .btn2:hover, .icon:hover{
  background-color: rgb(7, 80, 35);
  color: whitesmoke;
}

/* making HTML registration form responsive to mobile devices */
@media screen and (max-width: 1000px){
  .formWraper{
      width: 70%;
  }
}
@media screen and (max-width: 670px){
  .formDiv{
      width: 90%;
      border-radius: 10px 10px 10px 10px;
  }
  .welcomeDiv{
      display: none;
  }
}