<div>
  <div>
    <mat-grid-list cols="5" rowHeight="60px">

      <mat-grid-tile colspan="1" rowspan="1">
        <mat-checkbox [checked]="checkSelected" (change)="setAll($event.checked)">Busqueda por producto</mat-checkbox>         
     </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="flex-1 sm:max-w-lg">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Buscar pedidos</mat-label>
      <input matInput (keydown.enter)="applyFilter()" placeholder="Buscar" [(ngModel)] = "inputBusqueda" cdkFocusInitial>
    </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
     <button mat-icon-button color="basic" aria-label="Buscar artículo"
    (click)="applyFilter()">
      <mat-icon>search</mat-icon>
      Buscar
    </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
          <button mat-icon-button color="warn" aria-label="Limipiar consulta"
            (click)="resetQuery()">
              <mat-icon>autorenew</mat-icon>
              Restaturar
            </button>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <a mat-button routerLink="nuevo" *ngIf="auth.isFilial() || auth.isCustomer()" color="primary">Pedido Nuevo</a>
      </mat-grid-tile>

    </mat-grid-list>
  </div>


  <div class="mat-elevation-z8">
    <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource?.items" matSort (matSortChange)="sortData($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
      </ng-container>


      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente</th>
        <td mat-cell *matCellDef="let row"> {{row.NombreCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="vendedor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendedor</th>
        <td mat-cell *matCellDef="let row"> {{row.NombreVendedor}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
        <td mat-cell *matCellDef="let row" class="text-right">
          <span class="p-4">{{row.TotalImporte| number:'1.2-2'}} </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="almacen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacen</th>
        <td mat-cell *matCellDef="let row"> {{row.NombreAlmacen}} </td>
      </ng-container>

      <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda</th>
        <td mat-cell *matCellDef="let row"> {{row.ClaveMoneda}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</th>
        <td mat-cell *matCellDef="let row"> {{row.NombreStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="saldoActual">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo Actual</th>
        <td mat-cell *matCellDef="let row"> {{row.SaldoActual|number:'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación</th>
        <td mat-cell *matCellDef="let row"> {{row.CreatedAt|date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha actualización</th>
        <td mat-cell *matCellDef="let row"> {{row.UpdatedAt|date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ver detalle</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="showDetails(row.Id)">
            <mat-icon>preview</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="devoluciones">
        <th mat-header-cell *matHeaderCellDef>Devolver</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="devolver2(row)">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="estatusDevolucion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus devolución</th>
        <td mat-cell *matCellDef="let row"> {{row.EstatusDevolucion}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="(row.NombreStatus == 'Cancelado')? 'bloqueado':'NO ESTA BLOEUQEDO'"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron pedidos: {{errorMessage}}</td>
      </tr>
    </table>

    <mat-paginator
    [length] = "dataSource?.totalItems"
    [pageSize] = 25
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPaginate($event)"
    showFirstLastButtons>
  </mat-paginator>

  </div>
</div>