<div class="flex flex-col justify-center items-center h-full" *ngIf="loading2">
  <mat-spinner></mat-spinner>
</div>

<mat-dialog-content>
    <h1 mat-dialog-title>Validando información</h1>

    <mat-list *ngIf="!showMessageResponse">
      <mat-list-item *ngFor="let message of messages">
        <mat-icon *ngIf="message.isValid" matListIcon>check_circle</mat-icon>
        <mat-icon *ngIf="!message.isValid" matListIcon>clear</mat-icon>
        <h3 matLine> {{message.from}} </h3>
        <p matLine *ngIf="message.isValid">
          <span style="color: green;"> {{message.subject}} </span>
        </p>
        <p matLine *ngIf="!message.isValid">
          <span style="color: red;"> {{message.subject}} </span>
        </p>        
      </mat-list-item>
    </mat-list>

    <mat-list *ngIf="showMessageResponse">
      <mat-list-item *ngFor="let messageR of messagesResponse">
        <mat-icon matListIcon>check_circle</mat-icon>
        <h3 matLine style="color: purple;"> {{messageR}} </h3>          
      </mat-list-item>
    </mat-list>    

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button *ngIf="hayErrores==0" mat-raised-button (click)="iniciarImportacion()" color="primary">Iniciar importación</button>

  </mat-dialog-actions>