.sidenav-container {
  height: 100%;
}

.sidenav {
  width: auto;
  &__opened{
    padding-top: 0;
  }


  &__list__item {
    display: flex;
    align-items: center;
    span {
      margin-left: .5rem;
    }
  }

  .logo{
    display: block;
    width: 4rem;
    vertical-align: middle;
    height: 4rem;
    margin: -12px auto 0;
  }

  background: linear-gradient(0deg, rgba(111, 39, 111, 88%), rgba(100, 0, 100, 4%));
}

.sidenav .mat-toolbar {
  background: inherit;  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}
