<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav"
               [ngClass]="[(isHandset$ | async) ? 'sidenav__opened' : '']"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               [disableClose]="!(isHandset$|async)"
  >
    <mat-nav-list>
      <img class="logo" src="assets/logoPrincipal.jpeg" alt="Pedidos por Catálogo"/>
      <a mat-list-item [routerLink]="['']">
        <div class="sidenav__list__item">
          <mat-icon>home</mat-icon>
          <span *ngIf="showText">Reportes</span>
        </div>
      </a>
      <a mat-list-item *ngIf="isHandset$| async">
        {{auth.user.name}}
      </a>
      <a mat-list-item [routerLink]="['/pedidos']">
        <div class="sidenav__list__item">
          <mat-icon>assignment</mat-icon>
          <span  *ngIf="showText">Pedidos</span>
        </div>
      </a>
      <a mat-list-item [routerLink]="['/personas']" *ngIf="!auth.isCustomer()">
        <div class="sidenav__list__item">
          <mat-icon>people</mat-icon>
          <span  *ngIf="showText">Personas</span>
        </div>
      </a>
      <a mat-list-item [routerLink]="['/productos']" *ngIf="!auth.isCustomer()">
        <div class="sidenav__list__item">
          <mat-icon>dry_cleaning</mat-icon>
          <span  *ngIf="showText">Productos</span>
        </div>
      </a>
      <a mat-list-item [routerLink]="['/catalogos']">
        <div class="sidenav__list__item">
          <mat-icon>api</mat-icon>
          <span  *ngIf="showText">Catalogos</span>
        </div>
      </a>
      <a mat-list-item [routerLink]="['/almacenes']" *ngIf="!auth.isCustomer()">
        <div class="sidenav__list__item">
          <mat-icon>domain</mat-icon>
          <span  *ngIf="showText">Almacenes</span>
        </div>
      </a>     
      <!--
      <a mat-list-item [routerLink]="['/catalogos']">
        <div class="sidenav__list__item">
          <mat-icon>local_grocery_store</mat-icon>
          <span  *ngIf="showText">Compras</span>
        </div>
      </a>
    -->         
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z2 flex justify-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <breadcrumb #parent *ngIf="(isHandset$ | async) === false">
    <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
        <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
        <a mat-button *ngIf="route.terminal">{{ route.displayName }}</a>
    </span>
      </breadcrumb>
      <div class="auth-user">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>recent_actors</mat-icon>
          {{auth.user.name}}
          <mat-icon>arrow_drop_down_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="after">
        
          <button mat-menu-item (click)="cargaMasivaProductos()">
            <mat-icon>store_mall_directory</mat-icon>
            Importar Productos
          </button>
        
          <button mat-menu-item (click)="logout()">
            <mat-icon>no_meeting_room</mat-icon>
            Cerrar Sesión
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

