<div class="flex flex-col justify-center items-center h-full" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="h-full p-6 flex flex-wrap" *ngIf="!loading">
  <div class="w-full md:w-6/12 xl:w-4/12 p-2">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>
          <span>Agrupaciones</span>
        </mat-card-title>
        <button mat-icon-button (click)="createAgrupacion()" *ngIf="auth.isAdmin()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="pt-4">
          <mat-list-item *ngFor="let c of AgrupacionCatalog.values">
            <div class="flex w-full justify-between items-center">
              <span>{{c.text}}</span>
            </div>
            <mat-divider inset></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="w-full md:w-6/12 xl:w-4/12 p-2">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>
          <span>Clasificaciones</span>
        </mat-card-title>
        <button mat-icon-button (click)="createClasificacion()" *ngIf="auth.isAdmin()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="pt-4">
          <mat-list-item *ngFor="let c of ClasificacionCatalog.values">
            <div class="flex w-full justify-between items-center">
              <span>{{c.text}} </span>
            </div>
            <mat-divider inset></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
