
<mat-dialog-content>
    <h1 mat-dialog-title>Historial de pagos</h1>
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="pagos">
    
            <!-- Name Column -->
            <ng-container matColumnDef="numero" sticky>
                <th mat-header-cell *matHeaderCellDef> Número de pago </th>
                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="responsable">
                <th mat-header-cell *matHeaderCellDef> Responsable </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario.nombres}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="saldo_anterior">
                <th mat-header-cell *matHeaderCellDef> Saldo anterior </th>
                <td mat-cell *matCellDef="let element"> [{{element.saldoAnterior|number:'1.2-2'}}] </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="pago">
                <th mat-header-cell *matHeaderCellDef> Pago </th>
                <td mat-cell *matCellDef="let element"> [{{element.pago|number:'1.2-2'}}] </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="saldo_actual">
                <th mat-header-cell *matHeaderCellDef> Saldo actual </th>
                <td mat-cell *matCellDef="let element"> [{{element.saldoActual|number:'1.2-2'}}] </td>
            </ng-container>
    
            <!-- Position Column -->
            <ng-container matColumnDef="fecha_creacion">
                <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
                <td mat-cell *matCellDef="let element"> {{element.CreatedAt|date: 'dd/MM/yyyy'}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="referencia">
                <th mat-header-cell *matHeaderCellDef> Referencia </th>
                <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
            </ng-container>
            <!-- Star Column -->
            <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon>more_vert</mat-icon>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </mat-dialog-content>