<h2>Seleccione los colores para la talla: {{ nombreTalla }}</h2>

<mat-dialog-content>

<mat-form-field class="example-full-width">
    <input type="text" placeholder="Seleccione los colores" aria-label="Seleccione c" matInput
        [matAutocomplete]="colores" [formControl]="colorControl">
    <mat-hint>Ingrese el nombre del color</mat-hint>
</mat-form-field>

<mat-autocomplete #colores="matAutocomplete" [displayWith]="displayFnColor">
    <mat-option *ngFor="let color of filteredColors | async" [value]="selectedColors">
        <div (click)="optionClickedColor($event, color)">
            <mat-checkbox [checked]="color.selected" (change)="toggleSelectionColor(color)"
                (click)="stopPropagationColor($event)">
                {{ color.color }}
            </mat-checkbox>
        </div>
    </mat-option>
</mat-autocomplete>

<br><br>

<label>Colores seleccionados:</label>
<mat-list dense>
	<mat-list-item *ngIf="selectedColors?.length === 0">Ninguno seleccionado</mat-list-item>
	<mat-list-item *ngFor="let color of selectedColors">
		{{ nombreTalla }} => {{ color.idColor }} - {{ color.color }}
	</mat-list-item>
</mat-list>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>