<div class="h-full p-6 flex justify-center items-center flex-col" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div class="h-full p-6" *ngIf="!loading">
    <div class="header flex justify-between">
        <mat-card class="w-1/3">
            <mat-card-header>
                <mat-card-title>Generales</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Cliente: {{pedido.NombreCliente}}</p>
                <p>Almacen: {{pedido.NombreAlmacen}}</p>
                <p>Moneda: {{pedido.ClaveMoneda}}</p>
                <p>Descuento Adicional: {{pedido.PorcDescAdic}}</p>
                <p>Tipo de cambio: {{pedido.TipoCambio}}</p>
                <p>Estatus: {{pedido.NombreStatus}} </p>
                <div *ngIf="pedido.EditarPedido=='Solicitado' && auth.isFilial()"><p style="color:black"><b>[Ha solicitado la edición del pedido]</b></p> </div>
                <div *ngIf="pedido.EditarPedido=='Rechazado' && auth.isFilial()"><p style="color:red"><b>[Se le ha rechazado la edición del pedido]</b></p> </div>

                <div *ngIf="pedido.EditarPedido=='Solicitado' && auth.isAdmin()"><p style="color:blueviolet"><b (click)="autorizarEdicion();">[Se le ha solicitado la edición de éste pedido]</b></p> </div>                
                <div *ngIf="pedido.EditarPedido=='Rechazado' && auth.isAdmin()"><p style="color:red"><b>[Ha rechazado la edición del pedido]</b></p> </div>

                <div *ngIf="pedido.EditarPedido=='Autorizado' && ( auth.isFilial() || auth.isAdmin() )"><p style="color:green"><b>[Solicitud de edición autorizada]</b></p> </div>                
            </mat-card-content>
        </mat-card>

        <mat-card class="w-full md:w-1/3 ml-4">
            <mat-card-header>
                <mat-card-title>Resumen</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="flex justify-between">
                    <span>Total:</span>
                    <span>{{pedido.TotalImporte| number:'1.2-2' }}</span>
                </div>
                <div class="flex justify-between">
                    <span>Descuento:</span>
                    <span>{{pedido.TotalDescuento| number:'1.2-2' }}</span>
                </div>
                <div class="flex justify-between">
                    <span>Subtotal:</span>
                    <span>{{subtotal| number:'1.2-2' }}</span>
                </div>
                <div class="flex justify-between">
                    <span>Descuento Cliente {{ '(' + (pedido.PorcDescCliente / 100|percent) + ')' }}
                        :</span>
                    <span>{{pedido.DescuentoCliente|number:'1.2-2'}}</span>
                </div>
                <div class="flex justify-between">
                    <span>Descuento Adicional ({{pedido.PorcDescAdic / 100|percent}}) :</span>
                    <span>{{pedido.CantDescAdic|number:'1.2-2'}}</span>
                </div>
                <div class="flex justify-between">
                    <span>Total a pagar:</span>
                    <!-- <span>{{pedido.TotalGeneral - pedido.CantDescAdic|number:'1.2-2'}}</span> -->
                    <span>{{pedido.TotalGeneral|number:'1.2-2'}}</span>
                </div>
                <div class="flex justify-between">
                    <span><b>Saldo Actual:</b></span>
                    <span><b>{{pedido.SaldoActual|number:'1.2-2'}}</b></span>
                </div>
                <div class="flex justify-between">
                    <span>Anticipo requerido:</span>
                    <span>{{pedido.Anticipo|number:'1.2-2'}}</span>
                </div>
                <div class="mt-2">
                    <mat-label *ngIf="pedido.SaldoActual <= 0">[Pedido Liquidado]</mat-label>

                    <button mat-raised-button (click)="historialPagos()">
                        Historial de pagos
                    </button>

                    <!--
                <button mat-raised-button *ngIf="auth.isFilial() && !pedido.confirmaAnticipo" (click)="confirmarAnticipo()">
                  Confirmar anticipo
                </button>
                <span class="font-bold text-center">{{pedido.confirmaAnticipo ? 'Anticipo confirmado' : 'Anticipo sin
                  confirmar'}}</span>
                -->
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="w-1/4">
            <mat-card-header>
                <mat-card-title>Acciones</mat-card-title>
            </mat-card-header>

            <mat-card-actions>
                <hr *ngIf="auth.isAdmin()">
                <button color="primary" *ngIf="auth.isAdmin()"
                    disabled="auth.isAdmin()&&!pedido.autorizaDesc&&pedido.nombreStatus===StatusPedido[1]"
                    (click)="aprobarDescuento()" mat-raised-button>Aprobar descuento
                </button>
                <hr *ngIf="auth.isAdmin()">
                <button color="primary" *ngIf="auth.isAdmin()"
                    disabled="auth.isAdmin()&&!pedido.autorizaDesc&&pedido.nombreStatus===StatusPedido[1]"
                    (click)="rechazarDescuento()" mat-raised-button>Rechazar descuento
                </button>
                <hr *ngIf="auth.isFilial()">
                <button color="primary" *ngIf="auth.isFilial()" [disabled]="desactivarBotonPago" mat-raised-button
                    (click)="confirmarAnticipo()">Gestionar pagos</button>
                <hr>
                <button color="warn"
                    *ngIf="pedido.NombreStatus!==StatusPedido[4]&&pedido.NombreStatus!==StatusPedido[6]"
                    (click)="cancelar()" [disabled]="desactivarBotonCancelacion||editable" mat-raised-button>Cancelar
                    pedido
                </button>
                <hr>
                <!--
                <button color="accent" (click)="editar()" [disabled]="
              !pedido.detallePedidos||
              !pedido.detallePedidos.length||
              !pedido.AlmacenID||
              pedido.nombreStatus==StatusPedido[9]" mat-raised-button>Editar pedido
                </button>
            -->

                <!--
                Desactivar botón editar si el estatus del pedido está en estatus "Enviado"
                Y el tipo usuario es "Cliente"
                Habilitar botón editar si el estatus del pedido está en "enviado" 
                y el tpo de usuario es "Encargado o Vendedor"
            -->
                <button color="accent" (click)="editar()" [disabled]="desactivarBotonEditar" mat-raised-button>Editar pedido</button>
                <hr>
                <button color="primary" (click)="savePedido()" [disabled]="
                  !pedido.DetallesFront||
                  !pedido.DetallesFront.length||
                  !pedido.AlmacenId || !editable" mat-raised-button>Guardar cambios
                </button>
                <hr>
                <button color="primary" [disabled]="editable||desactivarBoton" (click)="accionBotonPedido()"
                    mat-raised-button>{{nombreAccionBotonPedido}}
                </button>
            </mat-card-actions>

        </mat-card>
    </div>
    <div class="body mt-4">

        <div class="search">
            <mat-form-field class="flex-1 max-w-md sm:max-w-lg">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Buscar producto</mat-label>

                <input matInput placeholder="Buscar" #input [formControl]="productInput" cdkFocusInitial
                    #trigger="matAutocompleteTrigger" (keyup.enter)="searchCoincidences(input.value)"
                    [matAutocomplete]="productos">

                <mat-autocomplete #productos="matAutocomplete" [displayWith]="displayProductFn">
                    <mat-option *ngFor="let option of filteredProducts | async" [value]="option">
                        [{{option.NombreMarca}}] : {{option.Clave}} - {{option.NombreProducto}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <button mat-icon-button color="primary" style="width: 130px;" aria-label="Buscar artículo"
                (click)="openPanel($event, trigger, input.value)">Buscar productos</button>

            <button mat-button color="basic" (click)="addProductOptimized()">Seleccionar tallas y colores</button>
        </div>

        <!--
        <div class="search">
            <mat-form-field class="flex-1 max-w-md sm:max-w-lg">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Buscar producto</mat-label>
                <input matInput placeholder="Buscar" #input [formControl]="productInput" cdkFocusInitial
                    (keyup.enter)="addProduct()" [matAutocomplete]="productos" [readonly]="!editable">
                <mat-autocomplete #productos="matAutocomplete" [displayWith]="displayProductFn">
                    <mat-option *ngFor="let option of filteredProducts | async" [value]="option">
                        [{{option.marca.NombreMarca}}] : {{option.clave}} - {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <button mat-button (click)="addProduct()" [disabled]="!editable">Agregar
            </button>
        </div>
    -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="check">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marcado Temporal</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> Totales </td>
                </ng-container>

                <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca(%Descuento)</th>
                    <td mat-cell *matCellDef="let row"> {{row.NombreMarca}} ({{row.PorcDescMarca}}%)</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="clave">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave</th>
                    <td mat-cell *matCellDef="let row"> {{row.ClaveProducto}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>


                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                    <td mat-cell *matCellDef="let row"> {{row.NombreProducto}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
                    <td mat-cell *matCellDef="let row"> {{row.NombreColor}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="talla">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla</th>
                    <td mat-cell *matCellDef="let row"> {{row.NombreTalla}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-form-field>
                            <input class="text-right" type="number" min="1" #cantidadInput autocomplete="false"
                                (keyup)="changeQuantityProductOptimized(row,cantidadInput.valueAsNumber,$event)" matInput
                                [value]="row.Cantidad" [disabled]="!editable">
                        </mat-form-field>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalCantidad() | number:'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio</th>
                    <td mat-cell *matCellDef="let row"> {{row.PrecioMoneda | number:'1.2-2'}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!--
          <ng-container matColumnDef="precioSinImpuesto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtotal</th>
            <td mat-cell *matCellDef="let row"> {{row.importeBruto | number:'1.2-2'}} </td>
          </ng-container>
        
  
          <ng-container matColumnDef="impuestos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> (%)Impuestos</th>
            <td mat-cell *matCellDef="let row">({{row.porcentajeImpuesto|number:'1.2-2'}}%) {{row.impuesto | number:'1.2-2'}}</td>
          </ng-container>
        -->
                <ng-container matColumnDef="descuentoMarca">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. marca </th>
                    <td mat-cell *matCellDef="let row"> {{row.CantDescMarca | number:'1.2-2'}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalDescMarca() | number:'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="descuentoProducto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. prod.</th>
                    <td mat-cell *matCellDef="let row"> {{row.DescuentoArticuloFront | number:'1.2-2'}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalDescProd() | number:'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="importe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe</th>
                    <td mat-cell *matCellDef="let row"> {{row.Importe | number:'1.2-2'}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalImport() | number:'1.2-2'}} </td>                     
                </ng-container>

                <!-- bloqueado -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="removeProduct(row)" [disabled]="!editable">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'inexistente': row.EstatusInventario === 'inexistente' }"></tr> -->
                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" ngClass="{{ row.EstatusInventario }}"></tr> -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" ngClass="{{ row.EstatusInventario }} "></tr>

                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">{{errorMessage || 'No hay articulos agregados'}}</td>
                </tr>                
            </table>

            <!-- <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
        </div>
    </div>
</div>