<div mat-dialog-content>
    <div mat-dialog-title>{{title}}</div>
    <div *ngIf="!saving">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" minlength="0" [(ngModel)]="v.NombreMarca" cdkFocusInitial>
      </mat-form-field>

      <div class="w-full">
        <mat-list>
          <mat-list-item>
            <div class="w-full flex items-center">
              <div class="w-full text-left">
                Enlaces a los catálogos
              </div>
            </div>

            <mat-divider></mat-divider>
          </mat-list-item>

          <div class="w-full md:w-3/3 md:p-4">
            <div class="flex justify-between">
              <input #csvInput type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept=".pdf"/>
            </div>
          </div>
        </mat-list>

        <mat-list>
          <mat-list-item *ngFor="let file of archivos">
            <mat-icon matListIcon>picture_as_pdf</mat-icon>
            <h3 matLine> {{file.Archivo.name}} </h3>
            <p matLine>
              <span> {{ (file.Archivo.size/1024)/1024| number:'1.2-2'}} MB</span>
            </p>
            <button mat-icon-button color="warn" type="button" (click)="deleteFileArray(file)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        <h3>Catalogos guardados</h3>
        <mat-list>
          <mat-list-item *ngFor="let file of data.value.Archivos">
            <mat-icon matListIcon>picture_as_pdf</mat-icon>
          <p matLine>
            <a 
            href="javascript:void(0)" 
            style="cursor:pointer"
            (click)="downloadPdf(file.NombrePdf)">
            {{file.NombrePdf}}
          </a>
            <span> ({{ (file.TamanioPdf/1024)/1024| number:'1.2-2'}} MB)</span>
          </p>
          <button mat-icon-button color="warn" type="button" (click)="askConfirmToDelete(file)">
            <mat-icon>delete</mat-icon>
          </button>
          </mat-list-item>
        </mat-list>

      </div>
    </div>

    <div class="flex justify-center align-center p-4" *ngIf="saving">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div mat-dialog-actions class="flex justify-end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary"  (click)="save()"> 
      Guardar
    </button>
  </div>
  