<div>
    <div>
      <mat-grid-list cols="5" rowHeight="60px">
  
        <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field class="flex-1 sm:max-w-lg">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Buscar movimientos</mat-label>
        <input matInput (keydown.enter)="applyFilter()" placeholder="Buscar" [(ngModel)] = "inputBusqueda" cdkFocusInitial>
      </mat-form-field>
        </mat-grid-tile>
  
        <mat-grid-tile colspan="1" rowspan="1">
       <button mat-icon-button color="basic" aria-label="Buscar artículo"
      (click)="applyFilter()">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
        </mat-grid-tile>
  
        <mat-grid-tile colspan="1" rowspan="1">
            <button mat-icon-button color="warn" aria-label="Limipiar consulta"
              (click)="resetQuery()">
                <mat-icon>autorenew</mat-icon>
                Restaturar
              </button>
        </mat-grid-tile>
  
      </mat-grid-list>
    </div>
  
  
    <div class="mat-elevation-z8">
      <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
  
      <table mat-table [dataSource]="dataSource?.DataMeta.items" matSort (matSortChange)="sortData($event)">
  
        <!-- ID Column -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="CreatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación </th>
          <td mat-cell *matCellDef="let row"> {{row.CreatedAt|date: 'dd/MM/yyyy'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="TipoMovimiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de movimiento</th>
          <td mat-cell *matCellDef="let row"> {{row.TipoMovimiento}} </td>
        </ng-container>
  
        <ng-container matColumnDef="TipoOperacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de operación </th>
          <td mat-cell *matCellDef="let row"> {{row.TipoOperacion}} </td>
        </ng-container>
  
        <ng-container matColumnDef="AlmacenOrigen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacen origen </th>
          <td mat-cell *matCellDef="let row"> {{row.AlmacenOrigen}} </td>
        </ng-container>
  
        <ng-container matColumnDef="AlmacenDestino">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacen destino </th>
          <td mat-cell *matCellDef="let row"> {{row.AlmacenDestino}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let row"> {{row.Usuario}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Comentarios">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentarios </th>
          <td mat-cell *matCellDef="let row"> {{row.Comentarios}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Ver detalle</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="showDetails(row.ID)">
              <mat-icon>preview</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontraron movimientos: {{errorMessage}}</td>
        </tr>
      </table>
  
      <mat-paginator
      [length] = "dataSource?.DataMeta.totalItems"
      [pageSize] = "25"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPaginate($event)"
      showFirstLastButtons>
    </mat-paginator>
  
    </div>
  </div>