<mat-tab-group class="h-full full-height-tab">
  <mat-tab label="Personas">
    <div class="h-full p-6">
      <div class="flex justify-between items-center flex-wrap ">
        <mat-form-field class="flex-1 max-w-md sm:max-w-lg">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Buscar persona</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input
                 cdkFocusInitial
          >
        </mat-form-field>
        <button mat-button color="primary"
                *ngIf="auth.isFilial()|| auth.isAdmin()"
                (click)="openDialog(null)">Crear persona
        </button>
      </div>

      <div class="mat-elevation-z8">
        <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20"
             *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>


          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
          </ng-container>

          <!-- Apellido Column -->
          <ng-container matColumnDef="apellido_paterno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Paterno</th>
            <td mat-cell *matCellDef="let row"> {{row.apellido1}} </td>
          </ng-container>

          <!-- Apellido Column -->
          <ng-container matColumnDef="apellido_materno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido Materno</th>
            <td mat-cell *matCellDef="let row"> {{row.apellido2}} </td>
          </ng-container>

          <!-- tipo -->
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo</th>
            <td mat-cell *matCellDef="let row"> {{tiposPersona[row.tipo]}} </td>
          </ng-container>

          <ng-container matColumnDef="createAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación</th>
            <td mat-cell *matCellDef="let row"> {{row.createAt|date: 'dd/MM/yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="updateAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha actualización</th>
            <td mat-cell *matCellDef="let row"> {{row.updateAt|date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"
              [ngClass]="row.bloqueado? 'bloqueado':''"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron personas: {{errorMessage}}</td>
          </tr>
        </table>

        <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Catálogos">
    <app-personas-catalogs></app-personas-catalogs>
  </mat-tab>


</mat-tab-group>

