.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    height: 300px;
    width: 400px;
  }


  .seccion_izquierda {
    display: flex;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
  }

  .division_horizontal {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: left;
    justify-content: center;
  }

  .busqueda_productos{
    display: flex;
    align-items: left;
    justify-content: center;
  }

  .tabla_productos {
    width: 100%;
    height: 100%;
    justify-content: center;
  }