<div class="division_horizontal">
    <div class="example-large-box mat-elevation-z4">
        <form [formGroup]="options">

            <div>
                <label>Seleccione el movimiento: </label>
                <br>
                <mat-radio-group [ngModelOptions]="{standalone: true}" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="tipo_movimiento">
                    <mat-radio-button class="example-radio-button" value="Ajuste" >Ajuste   </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Traspaso">Traspaso</mat-radio-button>                                
                </mat-radio-group>
            </div>

            <mat-form-field *ngIf="tipo_movimiento=='Ajuste'" appearance="fill">
                <mat-select required [(ngModel)]="operacion" [ngModelOptions]="{standalone: true}">
                    <mat-option>-- Ninguno --</mat-option>
                    <mat-option value="Entrada">Entrada (+)</mat-option>
                    <mat-option value="Salida">Salida (-)</mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>wrap_text</mat-icon> <b> Operación </b>
                </mat-label>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-select required [(ngModel)]="almacen_origen" [ngModelOptions]="{standalone: true}">
                    <mat-option>-- Seleccione almacén --</mat-option>
                    <mat-option *ngFor="let alm of almacenes" [value]="alm.id">{{alm.nombreAlmacen}}</mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon *ngIf="tipo_movimiento=='Traspaso'">keyboard_double_arrow_right</mat-icon>
                    <mat-icon *ngIf="tipo_movimiento=='Ajuste'">swap_horiz</mat-icon>
                    <b> Almacen origen</b>
                </mat-label>
            </mat-form-field>

            <mat-form-field *ngIf="tipo_movimiento=='Traspaso'" appearance="fill">
                <mat-select required [(ngModel)]="almacen_destino" [ngModelOptions]="{standalone: true}">
                    <mat-option>-- Seleccione almacén --</mat-option>
                    <mat-option *ngFor="let alm of almacenes" [value]="alm.id">{{alm.nombreAlmacen}}</mat-option>
                </mat-select>
                <mat-label>
                    <mat-icon>keyboard_double_arrow_left</mat-icon> <b> Almacen destino</b>
                </mat-label>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Comentarios</mat-label>
                <textarea matInput [(ngModel)]="comentarios" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>

            <button mat-flat-button color="primary" (click)="realizarMovimiento()">Realizar movimiento</button>
        </form>
    </div>

    <div class="seccion_izquierda mat-elevation-z4">
        <div class="body mt-4">
            <div class="search">
              <mat-form-field class="flex-1 max-w-md sm:max-w-lg">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>Buscar producto</mat-label>
        
                <input matInput placeholder="Buscar" #input [formControl]="productInput" cdkFocusInitial #trigger="matAutocompleteTrigger"
                  (keyup.enter)="searchCoincidences(input.value)" [matAutocomplete]="productos">
                
                  <mat-autocomplete #productos="matAutocomplete" [displayWith]="displayProductFn">
                    <mat-option *ngFor="let option of filteredProducts | async" [value]="option">
                        [{{option.NombreMarca}}] : {{option.Clave}} - {{option.NombreProducto}}
                    </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        
              <button mat-icon-button color="primary"  style="width: 130px;" aria-label="Buscar artículo"  
              (click)="openPanel($event, trigger, input.value)">Buscar productos</button>
        
              <button mat-button color="basic" (click)="addProductOptimized()">Seleccionar tallas y colores</button>
              <!-- <mat-error  *ngIf="foundResults === false && input.value != '' ">No se encontraron coincidencias</mat-error> -->
            </div>
        
            <div class="tabla_productos mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="clave">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Clave</b></th>
                  <td mat-cell *matCellDef="let row"> <b>{{row.ClaveProducto}}</b> </td>
                  <td mat-footer-cell *matFooterCellDef>Totales</td>
                </ng-container>
        
        
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                  <td mat-cell *matCellDef="let row"> {{row.NombreProducto}} </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
        
                <ng-container matColumnDef="color">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Color</b></th>
                  <td mat-cell *matCellDef="let row"> <b>{{row.NombreColor}}</b> </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
        
                <ng-container matColumnDef="talla">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla</th>
                  <td mat-cell *matCellDef="let row"> {{row.NombreTalla}} </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
        
        
                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Cantidad</b></th>
                  <td mat-cell *matCellDef="let row">
                    <mat-form-field>
                      <input class="text-right" type="number" min="1" #cantidadInput autocomplete="false" 
                      (keyup)="row.Cantidad = cantidadInput.valueAsNumber;" matInput [value]="row.Cantidad">
                    </mat-form-field>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> {{getTotalCantidad() | number:'1.2-2'}} </td>
                </ng-container>
        
                <!-- bloqueado -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="removeProduct(row)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">{{errorMessage || 'No hay articulos agregados'}}</td>
                </tr>
              </table>
        
              <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
    </div>
</div>