<mat-toolbar color="primary" class="fixed z-20 flex items-center justify-between">
  <div class="flex items-center">
    <button mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
    <span>{{isNew ? 'Nueva persona' : person.nombres}}</span>

  </div>

  <div class="flex items-center justify-end">
    <button class="mr-2" color="accent" mat-button *ngIf="editable &&!isNew" (click)="toggleEdit()">Cancelar
    </button>

    <button type="submit" mat-raised-button *ngIf="editable" [disabled]="!formPerson.valid"
      (click)="savePerson()">Guardar
    </button>

    <button mat-raised-button *ngIf="!editable" (click)="toggleEdit()">Editar
    </button>
  </div>


</mat-toolbar>
<div mat-dialog-content>
  <div class="flex flex-col justify-center items-center h-full" *ngIf="saving">
    <mat-spinner></mat-spinner>
    <p class="text-center m-4">Guardando</p>
  </div>

  <form class="pt-16" *ngIf="formPerson&&!saving" [formGroup]="formPerson" (ngSubmit)="savePerson()">

    <div class="flex flex-col p-6">
      <p class="font-bold">Personal</p>
      <mat-divider></mat-divider>

      <div class="w-full ">
        <mat-form-field class="w-full">
          <mat-label>Nombre(s)</mat-label>
          <input cdkFocusInitial matInput required placeholder="Nombre" formControlName="nombres">
          <mat-error *ngIf="formPerson.get('nombres').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full ">
        <mat-form-field class="w-full">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput required placeholder="Apellido Paterno" formControlName="apellido1">
          <mat-error *ngIf="formPerson.get('apellido1').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Apellido Materno</mat-label>
          <input matInput placeholder="Apellido Materno" formControlName="apellido2">
        </mat-form-field>
      </div>

      <div class="w-full">
        <mat-label class="w-full">Tipo de usuario</mat-label>
        <mat-radio-group class="flex w-full" formControlName="tipo" required>
          <mat-radio-button class="m-4" *ngFor="let tipo of tiposPersona" [value]="tipo.value">
            {{tipo.text}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="formPerson.get('tipo').hasError('required')">Este campo es requerido</mat-error>
      </div>

      <div class=" w-full">
        <mat-form-field class="w-full">
          <mat-label>Usuario</mat-label>
          <input matInput required placeholder="Usuario" formControlName="usuario">
          <mat-error *ngIf="formPerson.get('usuario').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class=" w-full" *ngIf="editable">
        <mat-form-field class="w-full">
          <mat-label>Contraseña</mat-label>
          <input matInput required type="password" placeholder="Contraseña" formControlName="password">
          <mat-error *ngIf="formPerson.get('password').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col p-6">
      <p class="font-bold">Contacto</p>
      <mat-divider></mat-divider>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Teléfono</mat-label>
          <input type="tel" matInput mask="(000) - 000 - 0009" [showMaskTyped]="true" required placeholder="Teléfono"
            formControlName="telefono">
          <mat-error *ngIf="formPerson.get('telefono').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input required type="email" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="formPerson.get('email').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-col p-6">
      <p class="font-bold">Dirección</p>
      <mat-divider></mat-divider>

      <mat-radio-group aria-labelledby="theschedule" formControlName="Schedule">
        <mat-radio-button id="Boton1" class="example-radio-button" [value]=true (change)="radioButtonChanged($event)">
          Si conozco mi Código Postal
        </mat-radio-button>
        <mat-radio-button id="Boton2" class="example-radio-button" [value]=false (change)="radioButtonChanged($event)">
          No conozco mi Código postal
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="showDivCP">

        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>País</mat-label>
            <input required matInput placeholder="País" formControlName="pais" />
            <mat-error *ngIf="formPerson.get('pais').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Estado</mat-label>
            <input required matInput placeholder="Estado" formControlName="estado" />
            <mat-error *ngIf="formPerson.get('estado').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Municipio</mat-label>
            <input required matInput placeholder="Municipio" formControlName="municipio" />
            <mat-error *ngIf="formPerson.get('municipio').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Colonia</mat-label>
            <input required matInput placeholder="Colonia" formControlName="colonia" />
            <mat-error *ngIf="formPerson.get('colonia').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div *ngIf="showDivNCP">
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Código postal</mat-label>
            <input matInput required mask="0{5}" maxlength="5" placeholder="Código postal"
              formControlName="codigoPostal">
            <!-- <mat-error *ngIf="formPerson.get('codigoPostal').hasError('required')">Este campo es requerido</mat-error> -->
            <mat-error *ngIf="formPerson.get('codigoPostal').hasError('invalidCP')">CP invalido o no encontrado
            </mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Pais</mat-label>
            <mat-select required placeholder="Pais" formControlName="pais">
              <mat-option *ngFor="let o of locations.paises" [value]="o.value">
                {{o.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formPerson.get('pais').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Estado</mat-label>
            <mat-select required placeholder="Estado" formControlName="estado">
              <mat-option *ngFor="let o of locations.estados" [value]="o.value">
                {{o.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formPerson.get('estado').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>


        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Municipio</mat-label>
            <mat-select required placeholder="Municipio" formControlName="municipio">
              <mat-option *ngFor="let o of locations.municipios" [value]="o.value">
                {{o.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formPerson.get('municipio').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Colonia</mat-label>
            <mat-select required placeholder="Colonia" formControlName="colonia">
              <mat-option *ngFor="let o of locations.colonias" [value]="o.value">
                {{o.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formPerson.get('colonia').hasError('required')">Este campo es requerido</mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Población</mat-label>
          <input required matInput placeholder="Población" formControlName="poblacion" />
          <mat-error *ngIf="formPerson.get('poblacion').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Calle</mat-label>
          <input required matInput placeholder="Calle" formControlName="calle" />
          <mat-error *ngIf="formPerson.get('calle').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Número exterior</mat-label>
          <input matInput required placeholder="Número exterior" formControlName="numExt" />
          <mat-error *ngIf="formPerson.get('numExt').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Número interior</mat-label>
          <input matInput placeholder="Número interior" formControlName="numInt" />
        </mat-form-field>
      </div>

    </div>

    <div class="flex flex-col p-6">
      <p class="font-bold">Financieros</p>
      <mat-divider></mat-divider>
      <!--
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label class="w-full">Descuento</mat-label>
          <input matInput type="text" formControlName="descuento" required mask="99.99" suffix="%">
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Límite de crédito</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput required mask="separator.2" thousandSeparator="," class="currency" type="text"
            formControlName="limiteCredito" />
          <mat-error *ngIf="formPerson.get('limiteCredito').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Días de crédito</mat-label>
          <input matInput type="number" min="0" step="1" formControlName="diasCredito" required>
          <mat-error *ngIf="formPerson.get('diasCredito').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
    -->
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Saldo</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput required mask="separator.2" thousandSeparator="," type="text" class="currency"
            [allowNegativeNumbers]="true" formControlName="saldo">
          <mat-error *ngIf="formPerson.get('saldo').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Saldo a Favor</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput mask="separator.2" thousandSeparator="," type="text" class="currency"
            [allowNegativeNumbers]="true" formControlName="saldoFavor">
        </mat-form-field>

      </div>
    </div>


    <div class="flex flex-col p-6 ">
      <p class="font-bold">Descuentos por Marca</p>
      <mat-divider></mat-divider>
      
      <div class="w-full">
          <mat-table [dataSource]="descuentoMarcas">
          <ng-container matColumnDef="nombreMarca">
            <mat-header-cell *matHeaderCellDef> Nombre Marca </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.nombreMarca }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mes">
            <mat-header-cell *matHeaderCellDef> Mes </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <input [disabled]="!editable"  [ngModelOptions]="{standalone: true}" matInput [(ngModel)]="row.mes" value = "{{row.mes}}">
            </mat-cell>
          </ng-container>

        <ng-container matColumnDef="descuento">
          <mat-header-cell *matHeaderCellDef> descuento </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <input matInput [disabled]="!editable"  [ngModelOptions]="{standalone: true}" type="number" [(ngModel)]="row.porcentajeDescuento" suffix="%" value = "{{row.porcentajeDescuento}}">
          </mat-cell>
        </ng-container>

          <mat-header-row *matHeaderRowDef="['nombreMarca','mes','descuento']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['nombreMarca','mes','descuento']"></mat-row>
        </mat-table>

    </div>
</div>


<div class="flex flex-col p-6 ">
  <p class="font-bold">Adicionales</p>
  <mat-divider></mat-divider>
  <div class="w-full">
    <mat-form-field class="w-full">
      <mat-label>Clasificación</mat-label>
      <mat-select required placeholder="Clasificación" formControlName="clasif">
        <mat-option *ngFor="let o of clasificaciones" [value]="o.value">
          {{o.text}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formPerson.get('clasif').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
  </div>
  <div class="w-full">
    <mat-form-field class="w-full">
      <mat-label>Agrupación</mat-label>
      <mat-select required placeholder="Agrupación" formControlName="agrup">
        <mat-option *ngFor="let o of agrupaciones" [value]="o.value">
          {{o.text}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formPerson.get('agrup').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
  </div>
  <!--
  <div class="w-full">
    <mat-form-field class="w-full">
      <mat-label>Lista de precios</mat-label>
      <input required matInput min="1" type="number" formControlName="listaPrecios">
      <mat-error *ngIf="formPerson.get('listaPrecios').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>    
  </div>
  -->

  <div class="w-full" *ngIf="auth.isAdmin()&&auth.user.userId!==person.id">
    <mat-checkbox formControlName="bloqueado">Bloqueado</mat-checkbox>
  </div>

  <div class="w-full">
    <mat-form-field class="w-full">
      <mat-label>Comentarios</mat-label>
      <textarea matInput formControlName="comentarios"></textarea>
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div class="w-full">

</div>
</form>
</div>