<div>
    <h2 class="justify-center">Devolución del pedido #{{pedido?.Id}} [{{pedido?.EstatusDevolucion}}]</h2>

    <button color="primary" [disabled]="desactivarBotonPrincipal"
        (click)="accionBotonDevolucion()" mat-raised-button>{{nombreBotonPrincipal}}</button>
    <button color="warn" [disabled]="desactivarBotonCancelacion" (click)="accionRechazo()"
        mat-raised-button>Rechazar devolución
    </button>
    <br>
    <p *ngIf='auth.isCustomer() && this.getTotalCost() > 0 && (pedido?.EstatusDevolucion == "" || pedido?.EstatusDevolucion == "Solicitado" )' style="color:blue">
        <span *ngIf="getCalcDtoCte() > 0">
            Descuento Cliente: {{getCalcDtoCte()}}
        </span>
        <br>
        <span *ngIf="getCalcDtoAdic() > 0">
            Descuento Adicional: {{getCalcDtoAdic()}}
        </span>
        <br>
        <b>[Se le abonará {{getTotalDto() | number:'1.2-2' }} a su saldo, una vez aceptada la devolución]</b>
    </p>
    <p *ngIf='auth.isCustomer() && pedido?.EstatusDevolucion == "Autorizado"' style="color:green">
        <b>[Se le abonó {{getTotalDto() | number:'1.2-2' }} a su saldo]</b>
    </p>

    <p *ngIf='auth.isFilial() && pedido?.EstatusDevolucion == "Autorizado"' style="color:green">
        <b>[Se le abonó {{getTotalDto() | number:'1.2-2' }} al saldo del cliente]</b>
    </p>
</div>

<div class="h-full p-6">
    <form #elementsForm="ngForm">
        <div class="h-full p-6">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="marca">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca</th>
                        <td mat-cell *matCellDef="let row; let index = index"> [{{row.nombreMarca}}]</td>
                        <td mat-footer-cell *matFooterCellDef> Totales </td>
                    </ng-container>

                    <ng-container matColumnDef="clave">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave</th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.claveArticulo}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.nombreArticulo}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="color">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.nombreColor}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="talla">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla </th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.nombreTalla}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="cantidadSolicitada">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad Soliciada</th>
                        <td mat-cell *matCellDef="let row; let index = index">
                            <mat-form-field>
                                <input disabled="{{desactivarCantidadesSolicitadas}}" class="text-right" type="number" min="0" #cantidadInput autocomplete="false"
                                    [max]="row.cantidadInicialPedido" matInput [value]="row.cantidadOriginal"
                                    (keyup)="changeQuantity(row,cantidadInput.valueAsNumber,$event, 'Solicitado')"
                                    (input)="changeQuantity(row,cantidadInput.valueAsNumber, null, 'Solicitado')"
                                    name="cantidad-{{index}}">
                                <mat-hint class="text-right" *ngIf="esNuevo">
                                    Ingrese un valor entre 0 y {{row.cantidadInicialPedido}}
                                </mat-hint>
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCantidadSolicitada() | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cantidadAutorizada">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad autorizada</th>
                        <td mat-cell *matCellDef="let row; let index = index">
                            <mat-form-field>
                                <input disabled="{{desactivarCantidadesAutorizadas}}" class="text-right" type="number" min="0" #cantidadInput autocomplete="false"
                                    [max]="row.cantidadOriginal" matInput [value]="row.cantidadDevuelta"
                                    (keyup)="changeQuantity(row,cantidadInput.valueAsNumber,$event, 'Autorizado')"
                                    (input)="changeQuantity(row,cantidadInput.valueAsNumber, null, 'Autorizado')"
                                    name="cantidad-{{index}}" [(ngModel)]="row.cantidadDevuelta">
                            <mat-hint class="text-right" *ngIf="!esNuevo">
                                    Ingrese un valor entre 0 y {{row.cantidadOriginal}}
                                </mat-hint>
                            </mat-form-field>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCantidad() | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio</th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.precio | number:'1.2-2'}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="descuentoMarca">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. marca </th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.descuentoMarca | number:'1.2-2'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{getDescuentoMarca() | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="descuentoProducto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. prod.</th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.descuentoArticuloFront |
                            number:'1.2-2'}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{getDescuentoProducto() | number:'1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="importe">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe</th>
                        <td mat-cell *matCellDef="let row; let index = index"> {{row.importe | number:'1.2-2'}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | number:'1.2-2'}} </td>
                    </ng-container>                   

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>

                <!-- <mat-paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
            </div>
        </div>
    </form>
</div>