
<div></div><h2 mat-dialog-title>Colores y tallas del producto: </h2>

<mat-dialog-content>

    <div class="mat-elevation-z8 relative">
        <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20"
             *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort (matSortChange)="sortData($event)"> -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id</th>
            <td mat-cell *matCellDef="let row"> {{row.IdArticulo}} </td>
          </ng-container>

          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
            <td mat-cell *matCellDef="let row"> {{row.Color}} </td>
          </ng-container>

          <ng-container matColumnDef="talla">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla</th>
            <td mat-cell *matCellDef="let row"> {{row.NombreTalla}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
          (click)="pushRows(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
          ></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron colores y tallas para éste producto (Por favor, notifíquelo al encargado)</td>
          </tr>
        </table>

        <mat-paginator
          pageSize=25
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons>
        </mat-paginator>

      </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="accept()" [mat-dialog-close]="clickedRows">Aceptar</button>
  </mat-dialog-actions>