<mat-tab-group class="h-full full-height-tab">
  <mat-tab label="Artículos">
    <div class="h-full p-6">
      <div class="flex justify-between items-center flex-wrap ">
        <mat-form-field class="flex-1 max-w-md sm:max-w-lg">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Buscar artículo</mat-label>
          <input matInput (keydown.enter)="applyFilter()" placeholder="Buscar" [(ngModel)] = "inputBusqueda" >
        </mat-form-field>

          <button mat-icon-button color="basic" aria-label="Buscar artículo"
          (click)="applyFilter()">
            <mat-icon>search</mat-icon>
            Buscar
          </button>

          <button mat-icon-button color="warn" aria-label="Limipiar consulta"
          (click)="resetQuery()">
            <mat-icon>autorenew</mat-icon>
            Restaturar
          </button>

        <button mat-button color="primary"
                *ngIf="auth.isAdmin()||auth.isFilial()"
                (click)="openDialog(null)">Crear artículo
        </button>
      </div>

      <div class="mat-elevation-z8 relative">
        <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20"
             *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div>
        <table mat-table [dataSource]="dataSource?.items" matSort (matSortChange)="sortData($event)">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let row"> {{row.idArticulo}} </td>
          </ng-container>


          <ng-container matColumnDef="clave">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave</th>
            <td mat-cell *matCellDef="let row"> {{row.clave}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

        <!-- 
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> [Tipo] </th>
            <td mat-cell *matCellDef="let row"> {{row.tipo }} </td>
          </ng-container>
        -->

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion</th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
          </ng-container>


          <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> [Marca]</th>
            <td mat-cell *matCellDef="let row"> {{row.marca?.NombreMarca}} </td>
          </ng-container>

        <!--

          <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef> [Modelo] </th>
            <td mat-cell *matCellDef="let row"> {{row.modelo}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="existencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Existencia</th>
            <td mat-cell *matCellDef="let row">
              {{row.existencia | number}}
            </td>
          </ng-container>
        -->

          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación</th>
            <td mat-cell *matCellDef="let row"> {{row.createAt|date: 'dd/MM/yyyy'}} </td>
          </ng-container>
          <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha actualización</th>
            <td mat-cell *matCellDef="let row"> {{row.updateAt|date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="en_oferta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> En oferta</th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox disabled [checked]="row.enOferta"></mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"
              [ngClass]="row.bloqueado? 'bloqueado':''"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron articulos</td>
          </tr>
        </table>

        <!-- <mat-paginator [length]="datosTotales" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPaginate($event)" aria-label="Select page"></mat-paginator> -->
        <mat-paginator
          [length] = "dataSource?.totalItems"
          [pageSize] = 25
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPaginate($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Catálogos">
    <app-catalogs></app-catalogs>
  </mat-tab>
</mat-tab-group>

