<div mat-dialog-content>
  <div mat-dialog-title>{{title}}</div>
  <div *ngIf="!saving">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" minlength="0" [(ngModel)]="v.nombreAlmacen" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Dirección" minlength="0" [(ngModel)]="v.direccion">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Comentarios</mat-label>
      <textarea matInput placeholder="Comentarios" minlength="0" [(ngModel)]="v.comentarios"></textarea>
    </mat-form-field>
  </div>
  <div class="flex justify-center align-center p-4" *ngIf="saving">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!v.nombreAlmacen?.trim()?.length|| saving" (click)="save()">
    Guardar
  </button>
</div>
