<div mat-dialog-content>
  <div mat-dialog-title>{{title}}</div>
  <mat-form-field>
    <input matInput placeholder="Valor" minlength="0" [(ngModel)]="v.text" cdkFocusInitial>
  </mat-form-field>
  <mat-form-field *ngIf="allowAbreviatura">
    <input matInput placeholder="Abreviatura" minlength="0" [(ngModel)]="v.abreviatura">
  </mat-form-field>
</div>
<div mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!v.text?.trim()?.length|| saving" (click)="save()">Guardar</button>
</div>
