<div class="example-container">

    <mat-checkbox [checked]="checkSelected" (change)="setAll($event.checked)">Busqueda por producto</mat-checkbox>
    <mat-form-field appearance="fill">
      <mat-label>Nombre o clave del producto</mat-label>
      <input [disabled]="!checkSelected" matInput placeholder="Producto" [(ngModel)]="nameProduct">
    </mat-form-field>
    <div>
      <label>Tipo de moneda: </label>
      <mat-radio-group [(ngModel)]="monedaSeleccionada">
        <mat-radio-button value="GTQ" [checked]="true" (change)="cambiaMoneda($event)">Quetzales</mat-radio-button>
        <mat-radio-button value="MXN" (change)="cambiaMoneda($event)">Pesos Mexicanos</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Ingrese un rango de fecha</mat-label>
      <mat-date-range-input [rangePicker]="dateRangePicker">
        <input matStartDate placeholder="Start date" [value]="fechaAnterior" #dateRangeStart>
        <input matEndDate placeholder="End date" [value]="fechaActual" #dateRangeEnd
          (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estatus pedido</mat-label>
      <mat-select [(ngModel)]="statusSelected" (selectionChange)="cambiaStatus($event)">
        <mat-option value="*">Todos</mat-option>
        <mat-option *ngFor="let a of status" [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Encargado</mat-label>
      <input type="text" [formControl]="sellerInput" placeholder="Vendedor" matInput [matAutocomplete]="vendedores">
      <mat-autocomplete #vendedores="matAutocomplete" [displayWith]="displayClientFn"
        (optionSelected)="selectSeller($event)">
        <mat-option *ngFor="let option of filteredSellers | async" [value]="option">
          {{option.nombres}} {{option.apellido1}} {{option.apellido2}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <input type="text" [formControl]="customerInput" placeholder="Cliente" matInput [matAutocomplete]="clientes">
      <mat-autocomplete #clientes="matAutocomplete" [displayWith]="displayClientFn"
        (optionSelected)="selectClient($event)">
        <mat-option *ngFor="let option of filteredCustomers | async" [value]="option">
          {{option.nombres}} {{option.apellido1}} {{option.apellido2}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="generarReportePedidos()">Generar reporte</button>

    <button mat-raised-button color="primary" (click)="ExportTOExcel()">Exportar a Excel</button>

  </div>

  <div class="mat-elevation-z8" #TABLE>
    <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table #table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        <td mat-footer-cell *matFooterCellDef> Totales </td>
      </ng-container>


      <ng-container matColumnDef="afiliado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Afiliado</th>
        <td mat-cell *matCellDef="let row"> {{row.cliente}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="encargado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Encargado</th>
        <td mat-cell *matCellDef="let row"> {{row.vendedor}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
        <td mat-cell *matCellDef="let row" class="text-right">
          <span class="p-4">{{row.total| number:'1.2-2'}} </span>
        </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalImporte() | number:'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="almacen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacen</th>
        <td mat-cell *matCellDef="let row"> {{row.almacen}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda</th>
        <td mat-cell *matCellDef="let row"> {{row.moneda}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus</th>
        <td mat-cell *matCellDef="let row"> {{row.nombreStatus}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="saldoActual">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo Actual</th>
        <td mat-cell *matCellDef="let row"> {{row.saldoActual|number:'1.2-2'}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalSaldo() | number:'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación</th>
        <td mat-cell *matCellDef="let row"> {{row.createAt|date: 'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="updateAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha actualización</th>
        <td mat-cell *matCellDef="let row"> {{row.updateAt|date: 'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="estatusDevolucion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus devolucion </th>
        <td mat-cell *matCellDef="let row"> {{row.estatusDevolucion}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="montoDevolucion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe devolucion</th>
        <td mat-cell *matCellDef="let row"> {{row.montoDevolucion}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron pedidos: {{errorMessage}}</td>
      </tr>

    </table>
    <mat-paginator #paginatorPeds [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>