<div class="example-container">
    
    <mat-form-field appearance="fill">
      <mat-label>Ingrese un rango de fecha</mat-label>
      <mat-date-range-input [rangePicker]="dateRangePickerDev">
        <input matStartDate placeholder="Start date" [value]="fechaAnterior" #dateRangeStartDev>
        <input matEndDate placeholder="End date" [value]="fechaActual" #dateRangeEndDev
          (dateChange)="dateRangeChange(dateRangeStartDev, dateRangeEndDev)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="dateRangePickerDev"></mat-datepicker-toggle>
      <mat-date-range-picker #dateRangePickerDev></mat-date-range-picker>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Nombre o clave del producto</mat-label>
      <input matInput placeholder="Producto" [(ngModel)]="nameProductDev">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Por Color</mat-label>
      <input type="text" [formControl]="colorInput" placeholder="color" matInput [matAutocomplete]="colores">
      <mat-autocomplete #colores="matAutocomplete" [displayWith]="displayColorFn"
        (optionSelected)="selectColor($event)">
        <mat-option *ngFor="let option of filteredColores | async" [value]="option">
          {{option.color}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Por talla</mat-label>
      <input type="text" [formControl]="tallaInput" placeholder="talla" matInput [matAutocomplete]="tallas">
      <mat-autocomplete #tallas="matAutocomplete" [displayWith]="displayTallaFn"
        (optionSelected)="selectTalla($event)">
        <mat-option *ngFor="let option of filteredTallas | async" [value]="option">
          {{option.nombreTalla}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Por marca</mat-label>
      <input type="text" [formControl]="marcaInput" placeholder="marca" matInput [matAutocomplete]="marcas">
      <mat-autocomplete #marcas="matAutocomplete" [displayWith]="displayMarcaFn"
        (optionSelected)="selectMarca($event)">
        <mat-option *ngFor="let option of filteredMarcas | async" [value]="option">
          {{option.NombreMarca}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="generarReporteDevolucion()">Generar reporte</button>

    <button mat-raised-button color="primary" (click)="ExportTOExcelDevs()">Exportar a Excel</button>

  </div>

  <div class="mat-elevation-z8" #TABLEDEVS>
    <div class="absolute w-full h-full flex justify-center items-center bg-gray-600 bg-opacity-20" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table #tableDevs [dataSource]="dataSourceDevs" matSort>

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de pedido</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        <td mat-footer-cell *matFooterCellDef> Totales </td>
      </ng-container>
      <!-- updateAt -->
      <ng-container matColumnDef="updateAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha actualización</th>
        <td mat-cell *matCellDef="let row"> {{row.updateAt|date: 'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- nombreStatus -->
      <ng-container matColumnDef="estatusPed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus pedido</th>
        <td mat-cell *matCellDef="let row"> {{row.estatusPed}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- moneda -->
      <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda</th>
        <td mat-cell *matCellDef="let row"> {{row.moneda}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- cliente -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente</th>
        <td mat-cell *matCellDef="let row"> {{row.cliente}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- estatusDevolucion -->
      <ng-container matColumnDef="estatusDev">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus devolucion </th>
        <td mat-cell *matCellDef="let row"> {{row.estatusDev}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- montoDevolucion -->
      <ng-container matColumnDef="montoDev">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe devolucion</th>
        <td mat-cell *matCellDef="let row"> {{row.montoDev}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- nombreArticulo -->
      <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Articulo</th>
        <td mat-cell *matCellDef="let row"> {{row.producto}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- claveArticulo -->
      <ng-container matColumnDef="clave">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave Producto</th>
        <td mat-cell *matCellDef="let row"> {{row.clave}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- cantidadDevuelta -->
      <ng-container matColumnDef="cantidadDev">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad devuelta</th>
        <td mat-cell *matCellDef="let row"> {{row.cantidadDev}} </td>
        <td mat-footer-cell *matFooterCellDef> {{getCantidadDevs() | number:'1.2-2'}} </td>
      </ng-container>
      <!-- nombreColor -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
        <td mat-cell *matCellDef="let row"> {{row.color}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- nombreTalla -->
      <ng-container matColumnDef="talla">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla</th>
        <td mat-cell *matCellDef="let row"> {{row.talla}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>  
      <!-- marca -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca</th>
        <td mat-cell *matCellDef="let row"> {{row.marca}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>                
      <!-- importe -->
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
        <td mat-cell *matCellDef="let row" class="text-right">
          <span class="p-4">{{row.importe| number:'1.2-2'}} </span>
        </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotalDevs() | number:'1.2-2'}} </td>
      </ng-container>
      <!-- precio -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio</th>
        <td mat-cell *matCellDef="let row"> {{row.precio|number:'1.2-2'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDevs"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDevs;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumnsDevs; sticky: true"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron pedidos: {{errorMessage}}</td>
      </tr>

    </table>
    <mat-paginator #paginatorDevs [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>