<div mat-dialog-content>
  <div mat-dialog-title>{{title}}</div>
  <div *ngIf="!saving">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" minlength="0" [(ngModel)]="v.nombre" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Abreviatura</mat-label>
      <input matInput placeholder="Abreviatura" minlength="0" [(ngModel)]="v.abreviatura">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Porcentaje</mat-label>
      <input matInput
             mask="99.99"
             suffix="%"
             placeholder="Porcentaje"
             [(ngModel)]="v.porcentaje">
    </mat-form-field>
  </div>
  <div class="flex justify-center align-center p-4" *ngIf="saving">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!v.nombre?.trim()?.length||!v.porcentaje|| saving"
          (click)="save()">
    Guardar
  </button>
</div>
