/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.header {
  display: flex;

  &--right {
    justify-content: flex-end;
  }
}

.full-screen-modal {
  .mat-dialog-container {
    padding: 0;
    border-radius: 0;
  }

  .mat-dialog-content {
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .mat-toolbar-single-row {
    @media (min-width: 640px) {
      width: 50%;
    }

    @media (min-width: 1024px) {
      width: 50%;
    }

    @media (min-width: 1280px) {
      width: 41.66%;
    }
  }

  .mat-form-field {
    .currency {
      text-align: right;
    }
  }
}

.full-height-tab {
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

.breadcrumb:before {
  content: '/';
}

.breadcrumb:first-child:before {
  content: '';
}

.bloqueado {
  background: rgb(255, 86, 86);
}

.inexistente {
  background: rgb(255, 86, 86);
}

.insuficiente {
  background: rgb(241, 227, 23);
}
