<mat-tab-group>
  <mat-tab label="Productos por surtir" *ngIf="!auth.isCustomer()">
    <app-reporte-porsurtir></app-reporte-porsurtir>
  </mat-tab>

  <mat-tab label="Reporte de ventas">
    <app-reporte-ventas></app-reporte-ventas>
  </mat-tab>

  <mat-tab label="Devoluciones">
    <app-reporte-devoluciones></app-reporte-devoluciones>
  </mat-tab>

</mat-tab-group>