<div class="h-full p-6 flex justify-center items-center flex-col" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="h-full p-6" *ngIf="!loading">
  <div class="header flex justify-between">
    <mat-card class="w-1/3">
      <mat-card-header>
        <mat-card-title>Generales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Cliente</mat-label>
          <input type="text" [formControl]="customerInput" placeholder="Cliente" matInput [matAutocomplete]="clientes">
          <mat-autocomplete #clientes="matAutocomplete" [displayWith]="displayClientFn"
            (optionSelected)="selectClient($event)">
            <mat-option *ngFor="let option of filteredCustomers | async" [value]="option">
              {{option.nombres}} {{option.apellido1}} {{option.apellido2}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Almacen</mat-label>
          <mat-select [(ngModel)]="pedido.AlmacenId">
            <mat-option *ngFor="let a of almacenes" [value]="a.id">{{a.nombreAlmacen}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Moneda</mat-label>
          <mat-select [(ngModel)]="monedaSelected" (selectionChange)="calcularTipoMoneda()">
            <mat-option *ngFor="let a of monedas" [value]="a">{{a.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card class="w-1/4">
      <mat-card-header>
        <mat-card-title>Adicionales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field *ngIf="!auth.isCustomer()">
          <mat-label>Descuento adicional</mat-label>
          <input [(ngModel)]="pedido.PorcDescAdic" mask="99" suffix="%" matInput (change)="updatePedido()"
            placeholder="Descuento adicional" />
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Tipo de cambio</mat-label>
          <input [value]="monedaSelected?.tipoCambio" matInput disabled placeholder="Tipo de cambio" />
        </mat-form-field>
        <div class="flex flex-col">
          <mat-label>Estatus del pedido : {{pedido.NombreStatus}}</mat-label>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="w-1/4">
      <mat-card-header>
        <mat-card-title>Resumen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex justify-between">
          <span>Total:</span>
          <span>{{pedido.TotalImporte|number:'1.2-2'}}</span>
        </div>
        <div class="flex justify-between">
          <span>Descuento:</span>
          <span>{{pedido.TotalDescuento|number:'1.2-2'}}</span>
        </div>
        <div class="flex justify-between">
          <span>Subtotal:</span>
          <span>{{subtotal|number:'1.2-2'}}</span>
        </div>
        <!--
        <div class="flex justify-between">
          <span>Descuento Cliente {{selectedCustomer ? '(' + (selectedCustomer.descuento / 100|percent) + ')' : ''}}
            :</span>
          <span>{{pedido.descuentoCliente|number:'1.2-2'}}</span>
        </div>
        -->
        <div class="flex justify-between">
          <span>Descuento Adicional ({{pedido.PorcDescAdic / 100|percent}}) :</span>
          <span>{{pedido.CantDescAdic|number:'1.2-2'}}</span>
        </div>
        <div class="flex justify-between">
          
          <span><b>Total a pagar:</b></span>
          <span><b>{{pedido.TotalGeneral|number:'1.2-2'}}</b></span>
        </div>
        <div class="flex justify-between">
          <span>Anticipo requerido:</span>
          <span>{{pedido.Anticipo|number:'1.2-2'}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" (click)="save()" [disabled]="!selectedCustomer ||
                !pedido.DetallesFront||
                !pedido.DetallesFront.length||
                !pedido.AlmacenId ||
                !monedaSelected" mat-raised-button>Guardar pedido
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="body mt-4">
    <div class="search">
      <mat-form-field class="flex-1 max-w-md sm:max-w-lg">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Buscar producto</mat-label>

        <!--
        <input matInput placeholder="Buscar"
        #input
        cdkFocusInitial (keydown.enter)="searchCoincidences(input.value)">
      -->
        <input matInput placeholder="Buscar" #input [formControl]="productInput" cdkFocusInitial #trigger="matAutocompleteTrigger"
          (keyup.enter)="searchCoincidences(input.value)" [matAutocomplete]="productos">
        
          <mat-autocomplete #productos="matAutocomplete" [displayWith]="displayProductFn">
            <mat-option *ngFor="let option of filteredProducts | async" [value]="option">
                [{{option.NombreMarca}}] : {{option.Clave}} - {{option.NombreProducto}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-icon-button color="primary"  style="width: 130px;" aria-label="Buscar artículo"  
      (click)="openPanel($event, trigger, input.value)">Buscar productos</button>

      <button mat-button color="basic" (click)="addProductOptimized()">Seleccionar tallas y colores</button>
      <!-- <mat-error  *ngIf="foundResults === false && input.value != '' ">No se encontraron coincidencias</mat-error> -->
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca(%Descuento)</th>
          <td mat-cell *matCellDef="let row"> {{row.NombreMarca}} ({{row.PorcDescMarca}}%)</td>
          <td mat-footer-cell *matFooterCellDef> Totales </td>
        </ng-container>

        <ng-container matColumnDef="clave">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave</th>
          <td mat-cell *matCellDef="let row"> {{row.ClaveProducto}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
          <td mat-cell *matCellDef="let row"> {{row.NombreProducto}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!--
        <ng-container matColumnDef="existencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Existencia</th>
          <td mat-cell *matCellDef="let row"> {{row.articulo.existencia}} </td>
        </ng-container>
      -->

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>
          <td mat-cell *matCellDef="let row"> {{row.NombreColor}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="talla">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Talla</th>
          <td mat-cell *matCellDef="let row"> {{row.NombreTalla}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad</th>
          <td mat-cell *matCellDef="let row">
            <mat-form-field>
              <input class="text-right" type="number" min="1" #cantidadInput autocomplete="false" 
                (keyup)="changeQuantityProduct(row,cantidadInput.valueAsNumber,$event)" 
                matInput [value]="row.Cantidad">
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCantidad() | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio</th>
          <td mat-cell *matCellDef="let row"> {{row.PrecioMoneda | number:'1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!--
        <ng-container matColumnDef="precioSinImpuesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtotal</th>
          <td mat-cell *matCellDef="let row"> {{row.importeBruto | number:'1.2-2'}} </td>
        </ng-container>
      

        <ng-container matColumnDef="impuestos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> (%)Impuestos</th>
          <td mat-cell *matCellDef="let row">({{row.porcentajeImpuesto|number:'1.2-2'}}%) {{row.impuesto | number:'1.2-2'}}</td>
        </ng-container>
      -->
        <ng-container matColumnDef="descuentoMarca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. marca </th>
          <td mat-cell *matCellDef="let row"> {{row.CantDescMarca | number:'1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalDescMarca() | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="descuentoProducto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. prod.</th>
          <td mat-cell *matCellDef="let row"> {{row.DescuentoArticuloFront | number:'1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalDescProd() | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="importe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe</th>
          <td mat-cell *matCellDef="let row"> {{row.Importe | number:'1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalImport() | number:'1.2-2'}} </td>
        </ng-container>

        <!-- bloqueado -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="removeProduct(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">{{errorMessage || 'No hay articulos agregados'}}</td>
        </tr>
      </table>

      <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>