.product-navbar {
  @media (min-width: 640px) {
    width: 100%;
  }

  @media (min-width: 1024px) {
    width: 83.33%;
  }
  @media (min-width: 1280px) {
    width: 66.66%;
  }

}

.product-image {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 100%;
  border: .25rem gray inset;
}

mat-selection-list {
  max-height: 150px;
  overflow: auto;
} 