<mat-toolbar color="primary" class="fixed z-20 flex items-center justify-between product-navbar">
  <div class="flex items-center">
    <button mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
    <span>{{ isNew ? 'Nuevo artículo' : product.nombre }}</span>

  </div>

  <div class="flex items-center justify-end">
    <button class="mr-2" color="accent" mat-button *ngIf="editable &&!isNew" (click)="toggleEdit()">Cancelar
    </button>
    <button type="submit" mat-raised-button *ngIf="editable" [disabled]="!formProduct.valid"
      (click)="saveProduct()">Guardar
    </button>
    <button mat-raised-button *ngIf="!editable" (click)="toggleEdit()">Editar
    </button>
  </div>

</mat-toolbar>

<div mat-dialog-content>
  <div class="flex flex-col justify-center items-center h-full" *ngIf="saving">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="formProduct" (ngSubmit)="saveProduct()" *ngIf="formProduct&&!saving" class="pt-16">

    <div class="flex justify-center pt-4">
      <img [src]="imageBase64" *ngIf="imageBase64" class="product-image" [alt]="product.nombre">
    </div>
    <div class="flex flex-wrap p-6">
      <div class="w-full">
        <p class="font-bold">Generales</p>
        <mat-divider></mat-divider>
      </div>

      <div class="w-full md:w-1/3 md:p-4">
        <mat-form-field class="w-full">
          <mat-label>Nombre</mat-label>
          <input cdkFocusInitial matInput required placeholder="Nombre" formControlName="nombre" />
          <mat-error *ngIf="formProduct.get('nombre').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full md:w-2/3 md:p-4">
        <mat-form-field class="w-full">
          <mat-label>Descripción</mat-label>
          <input matInput required placeholder="Descripción" formControlName="descripcion" />
          <mat-error *ngIf="formProduct.get('descripcion').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/3 md:p-4">
        <mat-form-field class="w-full">
          <mat-label>Clave principal</mat-label>
          <input matInput required placeholder="Clave principal" formControlName="clave" />
          <mat-error *ngIf="formProduct.get('clave').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/3 md:p-4">
        <mat-form-field class="w-full">
          <mat-label>Clave alterna</mat-label>
          <input matInput placeholder="Clave alterna" formControlName="claveAlterna" />

        </mat-form-field>
      </div>
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Código de barras</mat-label>
          <input matInput placeholder="Código de barras" formControlName="codigoBarras" />
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Linea</mat-label>
          <mat-select required placeholder="Linea" formControlName="lineaId">
            <mat-option *ngFor="let o of catalogs?.lineas?.values" [value]="o.value">
              {{o.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formProduct.get('lineaId').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Marca</mat-label>
          <mat-select required placeholder="Marca" formControlName="marcaId">
            <!-- <mat-option *ngFor="let o of catalogs?.marcas?.values" [value]="o.value">{{o.text}}</mat-option> -->
            <mat-option *ngFor="let o of marcas" [value]="o.IDMarca">{{o.NombreMarca}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formProduct.get('marcaId').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="w-full md:w-1/3 md:p-4">
        <mat-checkbox formControlName="kit">Es un kit</mat-checkbox>
      </div>
      <div class="w-full md:w-3/3 md:p-4" *ngIf="!!formProduct.get('kit').value &&editable">
        <div class="flex justify-between">
          <mat-form-field>
            <mat-label>Componente del kit</mat-label>
            <input type="text" [formControl]="buscadorArticulos" placeholder="Artículo" matInput
              (keyup.enter)="addArticulo()" [matAutocomplete]="articulos">
            <mat-autocomplete #articulos="matAutocomplete" [displayWith]="displayProductFn">
              <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
                {{option.clave}} - {{option.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-button (click)="addArticulo()" type="button" color="primary">Agregar al kit</button>
        </div>
      </div>

      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Unidad</mat-label>
          <mat-select required placeholder="Unidad" formControlName="unidadId">
            <mat-option *ngFor="let o of catalogs?.unidades?.values" [value]="o.value">
              {{o.text}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formProduct.get('unidadId').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="w-full" *ngIf="!!formProduct.get('kit').value">
        <p class="text-center" *ngIf="!kitComponents||!kitComponents.length">No hay productos agregados al kit</p>
        <mat-list *ngIf="kitComponents&&kitComponents.length">
          <mat-list-item>
            <div class="w-full flex items-center">
              <div class="w-1/2 text-left">
                Artículo
              </div>
              <div class="flex-1">
                Cantidad
              </div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
          <mat-list-item *ngFor="let v of kitComponents; index as i">
            <div class="w-full flex justify-between items-center p-2">
              <span class="w-1/2">{{displayProductFn(v.articulo)}}</span>
              <mat-form-field class="flex-1">
                <input matInput [disabled]="!editable" type="number" [(ngModel)]="v.cantidad" required
                  [ngModelOptions]="{standalone: true}" min="1">
                <mat-error *ngIf="v.cantidad<1">
                  Se require al menos un elemento del articulo para el kit
                </mat-error>
              </mat-form-field>
              <button mat-icon-button color="warn" type="button" (click)="removeKitComponent(i)" *ngIf="editable">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="flex flex-wrap p-6">
      <div class="w-full">
        <p class="font-bold">Precios</p>
        <mat-divider></mat-divider>
      </div>
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Precio cliente</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input mask="separator.2" thousandSeparator="," type="text" class="currency" matInput required
            placeholder="Precio cliente" formControlName="precio1" />
          <mat-error *ngIf="formProduct.get('precio1').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Impuesto</mat-label>
          <mat-select required placeholder="Impuesto" formControlName="impuestoId">
            <mat-option *ngFor="let o of impuestos" [value]="o.id">
              {{o.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formProduct.get('impuestoId').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-wrap p-6">
      <div class="w-full">
        <p class="font-bold">Costos</p>
        <mat-divider></mat-divider>
      </div>
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Costo real</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput mask="separator.2" thousandSeparator="," type="text" class="currency" placeholder="Costo real"
            formControlName="costoReal" />
          <!-- <mat-error *ngIf="formProduct.get('costoReal').hasError('required')">Este campo es requerido</mat-error> -->
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Costo ultimo</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input mask="separator.2" thousandSeparator="," type="text" class="currency" matInput required
            placeholder="Costo ultimo" formControlName="costoUltimo" />
          <mat-error *ngIf="formProduct.get('costoUltimo').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Costo adicional</mat-label>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input mask="separator.2" thousandSeparator="," type="text" class="currency" matInput
            placeholder="Costo adicional" formControlName="costoAdicional" />
          <!-- <mat-error *ngIf="formProduct.get('costoAdicional').hasError('required')">Este campo es requerido</mat-error> -->
        </mat-form-field>
      </div>

    </div>


    <div class="flex flex-wrap p-6">
      <div class="w-full">
        <p class="font-bold">Comerciales</p>
        <mat-divider></mat-divider>
      </div>

      <!--
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Existencia</mat-label>
          <input mask="separator" thousandSeparator="," type="text" matInput required placeholder="Existencia"
            formControlName="existencia" />
          <mat-error *ngIf="formProduct.get('existencia').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
    -->

      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label class="w-full">Porcentaje de descuento</mat-label>
          <input matInput type="text" mask="99.99" suffix="%" formControlName="porcentajeDescuento" />
          <!-- <mat-error *ngIf="formProduct.get('porcentajeDescuento').hasError('required')">Este campo es requerido
                  </mat-error> -->
        </mat-form-field>

      </div>

      <div class="w-full md:w-1/3 md:p-4 ">

        <mat-form-field class="w-full" *ngIf="editable">
          <mat-label>Imagen</mat-label>
          <ngx-mat-file-input #removableInput accept="image, .png, .jpg,.jpeg" placeholder="Seleccionar imagen"
            formControlName="imagen"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-icon matPrefix *ngIf="removableInput.empty">image</mat-icon>
          <!-- <mat-error *ngIf="formProduct.get('imagen').hasError('required')">Este campo es requerido</mat-error> -->
        </mat-form-field>
      </div>

      <div class="w-full md:w-2/3 md:p-4">
        <mat-form-field>
          <mat-label>Observaciones</mat-label>
          <textarea placeholder="Observaciones" matInput formControlName="observaciones"></textarea>
        </mat-form-field>
      </div>

      <div class="w-full md:w-1/3 md:p-4 flex flex-col">
        <mat-checkbox formControlName="enOferta">En oferta</mat-checkbox>
        <mat-checkbox formControlName="precioBajoCosto">Precio bajo costo</mat-checkbox>
        <mat-checkbox formControlName="bloqueado">Bloqueado</mat-checkbox>
      </div>

      <!--
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="Modelo" formControlName="modelo" />
          <mat-error *ngIf="formProduct.get('modelo').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
    -->

      <!--
      <div class="w-full md:w-1/3 md:p-4 ">
        <mat-form-field class="w-full">
          <mat-label>Colores</mat-label>
          <mat-selection-list #colors required placeholder="Color" formControlName="colorId">
            <mat-list-option *ngFor="let o of catalogs?.colores?.values" [value]="o.value">
              {{o.text}}
            </mat-list-option>
          </mat-selection-list>
          <mat-error *ngIf="formProduct.get('colorId').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
      </div>
    -->

      <div class="w-full md:w-1/3 md:p-4 ">
        <div class="w-full">

          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Seleccione una talla</mat-label>
              <input type="text" placeholder="Teclee el nombre de la talla" aria-label="talla" matInput
                [formControl]="myControlTallas" [matAutocomplete]="tallas">
              <mat-hint>Ingrese el nombre de la talla</mat-hint>
              <mat-autocomplete autoActiveFirstOption #tallas="matAutocomplete"
                (optionSelected)='asignarTallaSeleccionada($event.option.value)' [displayWith]="displayTallaFn">
                <mat-option *ngFor="let opcionSelect of filteredOptionsTallas | async" [value]="opcionSelect">
                  {{opcionSelect.nombreTalla}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

          <!--
        <mat-label>Seleccione las tallas</mat-label>
        <mat-selection-list #listyy [multiple]="false">
          <mat-list-option *ngFor="let talla of selectedAllTallas" [selected]="talla.selected"
            (click)="seleccionTallas(listyy)" [value]="talla.idTalla">
            {{talla.talla.nombreTalla}}
          </mat-list-option>
        </mat-selection-list>
      -->
        </div>
      </div>

      <div class="w-full md:w-1/3 md:p-4 " *ngIf="tallaSelected">
        <div class="w-full">
          <button mat-button (click)="openDialog()" type="button" color="primary">Seleccionar colores...</button>
          <!--
        <mat-label>Seleccione los colores para la talla seleccionada </mat-label>
        <mat-selection-list #listxx>
          <mat-list-option *ngFor="let color of selectedAllColors" [selected]="color.selected"
            (click)="onAreaListControlChanged(listxx)" [value]="color.idColor">
            {{color.color.color}}
          </mat-list-option>
        </mat-selection-list>
      -->
        </div>
      </div>

      <div>
        <button  *ngIf="tallasyColores.length > 0" mat-mini-fab color="accent" (click)="agregarNuevaTalla()" mat-button type="button" color="primary">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>

    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="Clave">
        <th mat-header-cell *matHeaderCellDef> Nombre Artículo </th>
        <td mat-cell *matCellDef="let element"> {{element.ClaveProducto}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Talla">
        <th mat-header-cell *matHeaderCellDef> Talla </th>
        <td mat-cell *matCellDef="let element"> {{element.NombreTalla}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.NombreColor}} </td>
      </ng-container>

      <ng-container matColumnDef="Quitar">
        <th mat-header-cell *matHeaderCellDef> Quitar </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button disabled="{{!editable}}" (click)="removeData(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </form>
</div>