    <mat-tab-group class="h-full full-height-tab">

    <mat-tab label="Mis movimientos">
        <app-listado-movimientos></app-listado-movimientos>
    </mat-tab>

    <mat-tab *ngIf="auth.isAdmin()" label="Realizar movimiento">
        <app-crear-movimiento></app-crear-movimiento>
    </mat-tab>

    <mat-tab label="Inventario">
        <app-inventario></app-inventario>
    </mat-tab>

    </mat-tab-group>