<div>
    <div>
        <mat-grid-list cols="8" rowHeight="60px">

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field>
                    <mat-label>Seccione marca </mat-label>
                    <input type="text" [formControl]="marcaInput" placeholder="todos" matInput
                        [matAutocomplete]="marcas">
                    <mat-autocomplete #marcas="matAutocomplete" [displayWith]="displayMarcaFn"
                        (optionSelected)="selectMarca($event)">
                        <mat-option *ngFor="let option of filteredMarcas | async" [value]="option">
                            {{option.NombreMarca}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field>
                    <mat-label>Seccione Unidad </mat-label>
                    <input type="text" [formControl]="unidadInput" placeholder="todos" matInput
                        [matAutocomplete]="unidades">
                    <mat-autocomplete #unidades="matAutocomplete" [displayWith]="displayUnidadFn"
                        (optionSelected)="selectUnidad($event)">
                        <mat-option *ngFor="let option of filteredUnidades | async" [value]="option">
                            {{option.nombreUnidad}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>            

            <mat-grid-tile colspan="2" rowspan="1">
                <input type="file" (change)="onFileChange($event)" multiple="false" />
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
            
                <button mat-icon-button *ngIf="element == false" color="accent" aria-label="Mostrar formato de ejemplo" (click)="showData()">                    
                    <mat-icon>visibility</mat-icon>
                    Mostrar ejemplo
                </button>
                <button mat-icon-button *ngIf="element == true" color="accent" aria-label="Ocular formato de ejemplo" (click)="hideData()">
                    <mat-icon>visibility_off</mat-icon>
                    Ocultar ejemplo
                </button>
            
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="1">
                <button mat-icon-button color="warn" aria-label="Realizar validación" (click)="checkValidation()">
                    <mat-icon>verified</mat-icon>
                    Validar
                </button>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

</div>

<div class="flex flex-col justify-center items-center h-full" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="element == true">
    <img mat-card-image src="../../../../assets/FormatoExcelOK.JPG">
</div>
<br>
<span layout="row">
    <hr flex />
    <hr flex />
</span>
<br>

<div>
    <div class="example-header">
   
    <mat-form-field>
          <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
        </mat-form-field>
      </div>
      
      <div class="example-container mat-elevation-z8">
      
        <mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="consecutivo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Consecutivo </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.consecutivo}} </mat-cell>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="Clave">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Clave principal </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Clave}} </mat-cell>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="CodigoBarras">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo de barras </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.CodigoBarras}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="ClaveAlterna">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Clave alterna </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ClaveAlterna}} </mat-cell>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="NombreTalla">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Talla </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.NombreTalla}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="NombreColor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.myColor ? row.myColor : 'black'"> {{row.NombreColor}} </mat-cell>
          </ng-container>
          
          <!-- Color Column -->
          <ng-container matColumnDef="Precio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Precio </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Precio|number:'1.2-2'}} </mat-cell>
          </ng-container>
          
          <!-- Color Column -->
          <ng-container matColumnDef="NombreProducto">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.NombreProducto}} </mat-cell>
          </ng-container>
          
          <!-- Color Column -->
          <ng-container matColumnDef="Descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Descripcion}} </mat-cell>
          </ng-container>          

          <!-- Color Column -->
          <ng-container matColumnDef="marca">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Marca </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.marca}} </mat-cell>
          </ng-container>          
          
          <!-- Color Column -->
          <ng-container matColumnDef="unidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </mat-header-cell>
            <mat-cell *matCellDef="let row" > {{row.unidad}} </mat-cell>
          </ng-container>                    
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>    
</div>